.slider {
  width: 90vw;
  height: 90dvh;
  border: red 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.slider__box {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto minmax(40px, 60px);
  grid-template-areas: 
    'left img img img img img img img img right'
    'indic indic indic indic indic indic indic indic indic indic';
  width: 80vw;
  height: 80svh;
  max-width: 1024px;
  background-color: lightgrey;
  grid-auto-rows: minmax(40px, auto);
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 400px) {
  .slider__box {
    grid-template-areas: 
      'img img img img img img img img img img'
      'left indic indic indic indic indic indic indic indic right';
  }
}
.slider__box > .svg-white {
  width: 30px;
}
.left {
  grid-area: left;
  justify-self: right;
}
.right {
  grid-area: right;
  justify-self: left;
}
.img {
  grid-area: img;
  width: 100%;
}
.slider__box__indicators {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  grid-area: indic;
}
.slider__box__indicators  > img {
  width: 30px;
}.slider__box__indicators  > button {
  margin: 0 0 0 .7rem;
}