.slider {
  width: 100vw;
  height: 100dvh;
  border: red 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__box {
  display: grid;
  gap: .5rem;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-areas: 
    'kname kname kname'
    'left img right'
    'indic indic indic';
  width: 100vw;
  height: 90dvh;
  max-width: 1024px;
  background-color: lightgrey;
  grid-auto-rows: minmax(40px, auto);
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .slider__box {
    grid-template-areas: 
      'kname kname kname'
      '. img .'
      'left indic right';
  }
}
.slider__box > .svg-white {
  width: 30px;
}
.knifename {
  grid-area: kname;
  justify-self: center;
}
.left {
  grid-area: left;
  justify-self: right;
}
.right {
  grid-area: right;
  justify-self: left;
}
.img {
  grid-area: img;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.slider__box__indicators {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  grid-area: indic;
}
.slider__box__indicators  > img {
  width: 30px;
}.slider__box__indicators  > button {
  margin: 0 0 0 .7rem;
}