.slider {
  width: 90vw;
  height: 90dvh;
  border: red 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__box {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(10, 1fr);
  grid-template-areas: 
    'left img img img img img img img img right'
    'indic indic indic indic indic indic indic indic indic indic';
  width: 80vw;
  height: 80svh;
  max-width: 1024px;
  background-color: lightgrey;
  grid-auto-rows: minmax(40px, auto);
  align-items: center;
  justify-content: center;
}
.left {
  grid-area: left;
  justify-self: center;
  align-self: center;
}
.right {
  justify-self: center;
  grid-area: right;
  align-self: center;
}
.img {
  grid-area: img;
  width: 100%;
}
.slider__box__indicators {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  grid-area: indic;
}
.slider__box__indicators  > img {
  width: 30px;
}.slider__box__indicators  > button {
  margin: 0 0 0 .7rem;
}