#flash{
    position: absolute;
    width: 70%;
    max-width: 700px;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    background: $formBackgroundDark;
    border-radius: $border-radius;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    z-index: 99;

    .alert-danger{
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $formError;
    }
    .alert-success{
        height: 60px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $formSuccess;
    }
}