
footer{
    flex-shrink: 0;
    border-top: 1px dashed $alternateBackground;
    width: 100%;
    background: $background;
    color: $alternateBackground;

    .contenu-footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        @media screen and (min-width: 800px){
            flex-direction: row;
            flex-wrap: wrap;
        }
        @media screen and (min-width: 1024px){
            width: 80%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 50px 0 100px;
            flex-wrap: nowrap;
        }
    }
    .bloc{
        width: 100%;
        max-width: 400px;
        margin: 5px 0px;
        padding: 0px 5px;
        @media screen and (min-width: 800px) {
            width: 50%;
        }
        @media screen and (min-width: 1024px){
            width: 25%;
            margin: 0 30px;
        }

        h3{
            font-size: 1.7rem;
            padding-bottom: 10px;
        }
        ul{
            list-style-type: none;

            li{
                padding: 3px 0;

                a{
                    text-decoration: none;
                    color: $alternateBackground;
                    display: flex;
                    align-items: center;
                    font-size: 1.3rem;
                }
                ion-icon{
                    font-size: 2rem;
                    padding-right: 1vw;
                }
            }
        }
        &.newsletter{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            .form{
                width: 100%;
            }
            .input-group{
                gap: 7px;
                width: 100%;

                &.email{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 7px;
                }
                label{
                    font-size: 1.25rem;
                }
                input{
                    padding: .5em;
                    background-color: $alternateBackground;
                    border: none;
                    outline: none;
                    border-radius: $border-radius;
                    color: $alternateText;
                    font-weight: lighter;
                    max-width: 300px;

                    &:focus{
                        box-shadow: 0 0 0 1px $formBorder;
                    }
                }
            }
            .choice{
                .input-group{
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: flex-end;
                    align-items: center;

                    input{
                        width: 1.25rem;
                        height: 1.25rem;
                        margin: 7px;
                    }
                }
                
            }
            // .add-button{
            //     text-align: center;
            //     width: 100%;
            //     max-width: 300px;
            //     border: solid 2px $alternateBackground;
            //     border-radius: .25rem;
            //     padding: 10px 15px;
            //     position: relative;
            // }
            .subscribe{
                width: 100%;
                text-align: center;
                max-width: 300px;
                text-decoration: none;
                color: $text;
                border-radius: $border-radius;
                border: solid 2px $alternateBackground;
                margin-top: 10px;
                padding: 10px 15px;
                pointer-events: none;
                cursor: auto;
                transition: all .3s;
                transform: scale(0);

                &.active{
                    pointer-events: auto;
                    cursor: pointer;
                    transform: scale(1);

                    &:hover{
                        color: $alternateText;
                        background-color: $alternateBackground;
                    }
                    &:focus{
                        color: $alternateText;
                        background-color: $alternateBackground;                    
                    }
                }
            }
        }
    }
}