.full-screen-container
{
    height: 100vh;
    width: 100vw;
    background-image: url("../images/loginpage/workshop.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-container{
        background-color: $formBackgroundDark;
        box-shadow: 0 0 15px 0 $formBackgroundDark;
        padding: 40px 30px;
        width: 80%;
        max-width: 600px;
        border-radius: 20px;

        .login-title{
            color: $titleWhite;
            text-align: center;
            font-family: $title;
            font-size: 2rem;
            font-weight: normal;
        }
        .form{
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 40px;

            .input-group{
                display: flex;
                flex-direction: column;
                gap: 7px;

                &.success{
                    input{
                        box-shadow: 0 0 0 1px $formSuccess;
                    }
                    .message{
                        display: block;
                        color: $formSuccess;
                    }
                }
                &.error{
                    input{
                        box-shadow: 0 0 0 1px $formError;
                    }
                    .message{
                        display: block;
                        color: $formError;
                    }
                }
                
                label{
                    color: $alternateText;
                    font-weight: lighter;
                }
                input{
                    font-size: 1.25rem;
                    padding: .5em;
                    background-color: $formBackgroundLight;
                    border: none;
                    outline: none;
                    border-radius: .25em;
                    color: $alternateText;
                    font-weight: lighter;

                    &:focus{
                        box-shadow: 0 0 0 1px $formBorder  ;
                    }
                }
                .message{
                   font-family: sans-serif;
                   display: none; 
                   font-size: .75rem;
                }
            }
            .login-button{
                padding: .5em 1em;
                font-size: 1.5rem;
                font-family: $main;
                letter-spacing: 2.3px;
                font-weight: lighter;
                color: $alternateText;
                background-color: $formBackground;
                border: 1px solid $formBorder;
                border-radius: .25em;
                outline: none;
                cursor: pointer;

                &:hover{
                    background-color: $formBackgroundHover;
                }
                &:focus{
                    background-color: $formBackgroundHover;
                }
            }
        }
        .navigation{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 40px;

            a{
                text-decoration: none;
                color: $alternateText;
                font-size: 1.25rem;
                padding: 0 15px;
            }
        }
    }
}