@import './utils/variables';
@import './base/typography';
@import './base/reset';
@import './base/style';
@import './layout/navigation';
@import './layout/flashbag';
@import './pages/knifeadmin';
@import './pages/dashboard';

body{
    max-height: none;
    padding-top: 80px;
}

.input-group{

    &.name{
        grid-row: 1;
        grid-column: 1;
    }
    &.description{
        grid-row: 1/3;
        grid-column: 2/4;

        textarea{
            height: 100%;
            width: 100%;
            font-size: 1.25rem;
            padding: .5em;
            background-color: $formBackgroundLight;
            border: none;
            outline: none;
            border-radius: .25em;
            color: $alternateText;
            font-weight: lighter;
            text-align: justify;
        }
    }
    &.mechanism{
        grid-row: 3;
        grid-column: 2/3;
    }
    &.category{
        grid-row: 4;
        grid-column: 2/3;
    }
    &.stock{
        grid-row: 2;
        grid-column: 1;
    }
    &.price{
        grid-row: 3;
        grid-column: 1;
    }
    &.weight{
        grid-row: 4;
        grid-column: 1;
    }
    &.length{
        grid-row: 5;
        grid-column: 1;
    }
    &.close_length{
        grid-row: 6;
        grid-column: 1;
    }
    &.cuttingedge_length{
        grid-row: 7;
        grid-column: 1;
    }
    &.images{
        grid-row: 7;
        grid-column: 2;
    }
    &.accessories{
        grid-row: 3/5;
        grid-column: 3;
    }
    &.handle{
        grid-row: 5/7;
        grid-column: 3;
    }
    &.metals{
        grid-row: 5/7;
        grid-column: 2/3;
    }

}
.add-button{
    grid-row: 7;
    grid-column: 3;

    padding: .5em 1em;
    font-size: 1.5rem;
    font-family: $main;
    letter-spacing: 2.3px;
    font-weight: lighter;
    color:$alternateText;
    background-color: $formBackground;
    border: 1px solid $formBorder;
    border-radius: .25em;
    outline: none;
    cursor: pointer;
    transition: all .3s;

    &:hover{
        background-color: $formBackgroundHover;
        letter-spacing: 2.6px;
    }
    &:focus{
        background-color: $formBackgroundHover;
        letter-spacing: 2.6px;
    }
}

.listbox{

    select{
        font-size: 1.25rem;
        padding: .5em;
        background-color: $formBackgroundLight;
        border: none;
        outline: none;
        border-radius: .25em;
        color: $alternateText;
        font-weight: lighter;

        option{
            background: #333;
        }

        &:focus{
            box-shadow: 0 0 0 1px $formBorder;
        }

    }
}

.checkbox{

    div{
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: flex-start;
        align-items: center;
        height: 150px;
        overflow-y: scroll;
        padding: .5em;
        background-color: $formBackgroundLight;
        border-radius: .25em;
        
        &::-webkit-scrollbar{
            display: none;
        }

        input{
            width: 1.25rem;
            height: 1.25rem;
            margin: 7px;
        }
        label
        {
            font-size: 1rem;
        }
    }
}

.modify-knife-container{
    width: 85%;
    max-width: 1050px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $formBackgroundDark;
    box-shadow: 0 0 15px 0 $formBackgroundDark;
    border-radius: 20px;
    padding: 20px 7px;
    margin-top: 40px;

    h2{
        font-family: $title;
        color: $alternateText;
    }
    .list-images{
        width: 100%;

        ul{
            display: flex;
            justify-content: center;
            align-items: center;

            li{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 10px 20px;
                position: relative;
                border-radius: .3rem;
                overflow: hidden;

                img{
                    width: 150px;
                    height: 150px;
                    object-fit: cover;
                    object-position: center;
                }
                a{
                    width: 150px;
                    text-align: center;
                    padding: .5em 1em;
                    font-family: $main;
                    color: $alternateText;
                    background-color: $formBackground;
                    text-decoration: none;
                    position: absolute;
                    bottom: 0;
                    transition: all .3s;

                    &:hover{
                        background-color: $formBackgroundHover;
                        letter-spacing: 2.6px;
                    }
                    &:focus{
                        background-color: $formBackgroundHover;
                        letter-spacing: 2.6px;
                    }
                }
            }
        }
    }
}