@import './dad/_news.scss';
@import './dad/_menu.scss';
@import './dad/_cards.scss';
@import './dad/_gallery.scss';
@import './dad/_slider.scss';

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth !important;
  box-sizing: border-box; 
}
.bg-knifeleft {
  background-image: url('../images/background-left.jpg');  
  background-size: cover;
  color: white;
}
.bg-kniferight {
  background-image: url('../images/background-right.jpg'); 
  background-size: cover;
  color: white;
}
.bg-enclume {
  background-image: url('../images/enclume.jpg'); 
  background-size: cover;
  color: white;
}
.bg-thinknife {
  background-image: url('../images/home-knife.jpg'); 
  background-size: cover;
  color: white;
}
.bgr-green {  background: $bg-gradient-green; color: white }
.bgr-black {  background: $bg-gradient-black;  color: white }
.bgr-blue {  background: $bg-gradient-blue;  color: white } 



