@import './dad/const.scss';
@import './utils/mixins';
@import './dad/news';
@import './dad/menu';
@import './dad/cards';
@import './dad/gallery';
@import './dad/slider';
@import './dad/infos'; 
@import './dad/categories';

* {
  margin: 0; 
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth !important;
  box-sizing: border-box;
}

body {
  background: $background;
  font-family: $main; 
  display: flex;
  flex-direction: column;
  .hero-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%; 
    margin-top: $menu-height;
    scroll-margin: $menu-height;
    min-height: 100vh;
    background-image: url(../images/SHEFFIELD-2.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 

    @include for-desktop {
      background-image: url(../images/homepageimages/enclume.jpg);
    }

    .hero-title {
      width: 95%;
      padding: 1rem;
      margin-right: 1rem;
      color: $primaryText;
      overflow: hidden;

      @include for-desktop{
          margin-right: 2rem;
          max-width: $responsive-max-width;
      }

      .htmltemplate:nth-child(1) {
        img {
          float: right;
        }
        h1, h2, p {
          text-align: left;
        }
      }

      img {
        width: 200px;
        height: 200px;
        float: left;
        margin: 1rem;
        border-radius: 10px;
        @include for-desktop {
          width: 300px;
          height: 300px;
        }
      }
      h1{
          font-family: $herotitle;
          font-size: 2rem;
          font-weight: 600;
          padding: 2rem 0;
          text-align: right;
          width: 100%;
          @include for-desktop{
              font-size: 3rem;
          }
      }
      h2{
          font-family: $heroh2;
          font-size: 1.5rem;
          font-weight: 600;
          padding-bottom: 2rem ;
          line-height: 1.5rem;
          text-align: right;
          width: 100%;
          @include for-desktop{
              font-size: 2.5rem;
          }
      }
      p{
          font-family: $herop;
          font-size: 1rem;
          line-height: 1.4rem;
          text-align: right;
          padding: 1rem;
          background-color: rgba(34, 7, 7, .3);
          border-radius: 10px;
          width: 100%;
          @include for-desktop{
              font-size: 1.5rem;
              line-height: 2rem;
          }
          a {
            color: white;
            font-size: 3rem;
          }
      }
    }
  }
}

#globalfullscreen {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px); 
  width: 100%;
  height: 100%;
}
#cardzoom {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px); 
  width: 100%;
  height: 100%;
}
