@import './dad/_news.scss';
@import './dad/_menu.scss';
@import './dad/_cards.scss';

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth !important;
  box-sizing: border-box; 
}


