@import './utils/variables';
@import './base/typography';
@import './base/reset';
@import './base/style';
@import './layout/navigation';
@import './layout/flashbag';
@import './pages/mailing';

select{
    font-size: 1.25rem;
    padding: .5em;
    background-color: $formBackgroundLight;
    border: none;
    outline: none;
    border-radius: .25em;
    color: $alternateText;
    font-weight: lighter;

    &:focus{
        box-shadow: 0 0 0 1px $formBorder;
    }
    &.hidden{
        display: none;
    }

    option{
        background-color: $alternateBackground;
    }

}

