@import './base/reset';
@import './utils/variables';
@import './base/typography';
@import './base/default';
@import './components/buttons';
@import './dad/const';

#header {
    min-height: 80vh;
    width: 100%;
    position: relative;
    background-image: linear-gradient(rgba(25, 26, 29, 0.7),rgba(4,9,30,0.7)), url('../images/home2.jpg');
    background-position: center;
    background-size: cover;
    
    .navigation {
        position: fixed;
        top: 0; left: 0;
        z-index: 10;
        height: 5rem;
        display: flex;
        width: 100vw;
        padding: 2% 6%;;
        justify-content: space-between;
        align-items: center;
        background: $menubackground;
        .nav-links {
            flex: 1;
            text-align: right;
            ul {
                margin-top: 0;
                margin-bottom: 0;
                li {
                    list-style: none;
                    display: inline-block;
                    padding: 8px 12px;
                    position: relative; 
                    ::after {
                        content: '';
                        width: 0%;
                        height: 2px;
                        background: white;
                        display: block;
                        margin: auto;
                        transition: 0.5s;                    
                    }
                    :hover::after {
                        width: 100%;
                    } 
                    a {
                        color: white;
                        text-decoration: none;
                        font-size: 20px;
                        img {
                            width: 20px;
                        }
                    }
                    span {
                        font-size: large;
                        color: white;
                        width: 5px;
                        margin: 0;
                        padding: 0;
                    }       
                }
            }
            .lang li {
                margin: 2px 2px;
                padding: 0;
            }
        }
        img {
            margin-left: 2rem;
        }
        a img {
                width: 60px;
        }
        #menuclose { display: none; }
        #menuopen { display: none; }
    }
    .intro{
        width: 60vw;
        height: 60%;
        color: #f1f1f1;
        position: absolute;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 25px;
        text-align: right;

        .maintitle {
            font-family: $title;
            font-weight: 700;
            h1 {
                font-size: 3rem;
                text-transform: uppercase;
            }
            h2 {
                font-size: 1.5rem;
                font-family:$textpolicy;
                font-style: italic ;
            }
        }
    }
}
// -------------------------------------------------------------------------
// Media queries
// -------------------------------------------------------------------------
@media(max-width: 800px) {
    #header {
        .navigation {
            .nav-links ul li {
                display: block;
            }
            .nav-links {
                position: absolute;
                height: 80vh;
                width: 200px;
                top: 0;
                right: -200px;
                text-align: left;
                z-index: 2;
                transition: 1s;
                background: $menubackground;
            }
            #menuclose {
                display: block;
                color: white;
                margin: 10px;
                font-size: 22px;
                cursor: pointer;
            }
            #menuopen {
                display: block;
            }
            .nav-links ul {
                padding: 10px;
                span {
                    display: flex;
                    flex-direction: row;
                    padding-left: 8px;
                    align-items: center;
                }
            }
        }
    }
}



#histoire{
    display: flex;
    padding: 70px 25px;
    min-height: auto;

    .story{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}