@import './dad/slider';
@import './dad/const';

.feedback
{
  color: red;
  border: 1px solid blue;
  border-radius: 5px;
}

.ylabel {
  font-weight: bold;
}

button {
  &.ylink {
      &.disabled {
        font-weight: bold;
        font-size: 1.2rem;
      }
      &.active {
        font-weight: bold;
        font-size: 1.4rem;
      }
      &:hover {
        color: red;
      }
  }
}

.imagesmall { 
  width: 8rem;
  height: 8rem;
  max-width: 8rem;
  max-height: 8rem;
  border-radius: 50%;
}
.textsmall {
  font-size: 0.5rem;
}
.textverysmall {
  font-size: 0.3rem;
}
legend {
  font-weight: bold;
}
.ysuccess {
  color: green;
}
.yerror {
  color: red;
}
.ylistheader {
  background-color: darkgray; 
  color: white;
}
