@import './dad/slider';
@import './dad/const';

.feedback
{
  color: red;
  border: 1px solid blue;
  border-radius: 5px;
}

.ylabel {
  font-weight: bold;
}

button {
  &.ylink {
      &.disabled {
        font-weight: bold;
        font-size: 1.2rem;
      }
      &.active {
        font-weight: bold;
        font-size: 1.4rem;
      }
      &:hover {
        color: red;
      }
  }
}

#commandzone {
  a {
    text-decoration: none;
  }
}

/*
  How to compute the filter value ???
  Go to thi site: https://codepen.io/sosuke/pen/Pjoqqp
  Enter your color code.
  To know your color code go here : https://htmlcolorcodes.com/
*/
.svgsmall-lightblue {
  text-decoration: none;
  width: $svgsmall;
  height:$svgsmall;
  filter: invert(44%) sepia(88%) saturate(1176%) hue-rotate(191deg) brightness(100%) contrast(101%);
}

.svgsmall-blue {
  width: $svgsmall;
  height:$svgsmall;
  filter: invert(44%) sepia(96%) saturate(6317%) hue-rotate(229deg) brightness(100%) contrast(102%);
}

.svgsmall-lightgreen {
  width: $svgsmall;
  height:$svgsmall;
  filter: invert(41%) sepia(98%) saturate(581%) hue-rotate(83deg) brightness(81%) contrast(80%);
}

.logs {
  padding-left: 0;
  padding-right: 0;
}

.imagesmall { 
  width: $imagesmall;
  height: $imagesmall;
  max-width: $imagesmall;
  max-height: $imagesmall;
  border-radius: 50%;
}
.textsmall {
  font-size: $smalltext;
}
.textverysmall {
  font-size: $verysmalltext;
}
legend {
  font-weight: bold;
}
.ysuccess {
  color: green;
}
.yerror {
  color: red;
}
.ylistheader {
  background-color: darkgray; 
  color: white;
}
