@import './dad/const';
@import './dad/slider';
@import './dad/newsgallery';
@import './dad/dynamic';

.feedback
{
  color: red;
  border: 1px solid blue; 
  border-radius: 5px;
}

.bigblue { 
  color: blue; 
  font-size: 2em;
  margin: 0 auto;
}
.biggreen { 
    color: green;
    font-size: 2em;
    margin: 0 auto;
  }
.bigred { 
    color: red;
    font-size: 2em;
    margin: 0 auto;
  }

.ylabel {
  font-weight: bold;
}

button {
  &.ylink {
      &.disabled {
        font-weight: bold;
        font-size: 1.2rem;
      }
      &.active {
        font-weight: bold;
        font-size: 1.4rem;
      }
      &:hover {
        color: red;
      }
  }
}
#loglist {
  li:nth-child(odd) {
    background-color: lightgray;
  }
}
#commandzone {
  a {
    text-decoration: none;
  }
}

.paginationcommands {
  border: 1px solid lightgray;
  border-radius: 3px;
  display: flex;
  div {
    margin: auto;
    text-align: center;
  }
  img {
    width: 40px;
    height: 40px;
  }
}

.logs {
  padding-left: 0;
  padding-right: 0;
}

.imagesmall { 
  width: $imagesmall;
  height: $imagesmall;
  max-width: $imagesmall;
  max-height: $imagesmall;
  border-radius: 50%;
} 
.iconicimage { 
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.textsmall {
  font-size: $smalltext;
}
.textverysmall {
  font-size: $verysmalltext;
}
legend {
  font-weight: bold;
}
.ysuccess {
  color: green;
}
.yerror {
  color: red;
}
.ywarning {
  color: orangered;
}
.ylistheader {
  background-color: darkgray; 
  color: white;
}
.ya {
  text-decoration: none;
}
.msgdetails {
  font-style: italic;
  .label {
    font-weight: bold;
  }
}
.textdetails {
  font-style: italic;
  margin: 1em;
  padding: 1em;
  border: 1px solid darkgray;
  border-radius: 5px;
}
.on {
  color: $on;
}
.off {
  color: $off;
}
.errordate {
  border: red 1px solid;
}
.noerrordate {
  border:none;
}
