@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button, input, select {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

img, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

body {
  background: #f1f1f1;
  font-family: "Acme", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  position: relative; }

.contenu {
  flex: 1 0 auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

section {
  width: 100%;
  position: relative; }

header {
  width: 100%;
  position: absolute;
  padding: 5px;
  top: 0;
  left: 0;
  z-index: 5; }
  header .container {
    height: 80px;
    inset: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: top .3s;
    transition-delay: .4s;
    background: rgba(51, 51, 51, 0.403); }
    @media screen and (min-width: 1024px) {
      header .container {
        padding: 2px 10px; } }
    header .container.hidden {
      top: -80px; }
    header .container img.logo {
      width: 75px;
      height: 75px;
      filter: brightness(0) invert(0.9); }
    header .container .menu-toggle {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      transition: all 0.5s;
      z-index: 99;
      cursor: pointer; }
      @media screen and (min-width: 1024px) {
        header .container .menu-toggle {
          display: none; } }
      header .container .menu-toggle:before {
        content: '';
        position: absolute;
        width: 32px;
        height: 2px;
        background: #f1f1f1;
        transform: translateY(-10px);
        box-shadow: 0 10px #f1f1f1;
        transition: 0.5s; }
      header .container .menu-toggle:after {
        content: '';
        position: absolute;
        width: 32px;
        height: 2px;
        background: #f1f1f1;
        transform: translateY(10px);
        transition: 0.5s; }
      header .container .menu-toggle.active {
        background: #333;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        box-shadow: -5px 5px 5px rgba(74, 71, 71, 0.387); }
        header .container .menu-toggle.active:before {
          transform: translateY(0px) rotate(45deg);
          box-shadow: 0 0 #b48645;
          background: #b48645;
          width: 22px; }
        header .container .menu-toggle.active:after {
          transform: translateY(0px) rotate(-45deg);
          background: #b48645;
          width: 22px; }
    header .container .about {
      padding: 10px 5px;
      background: #b48645;
      text-transform: uppercase;
      color: #f1f1f1; }
    header .container .navigation {
      position: absolute;
      background: #f1f1f1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      scale: 0;
      transform-origin: top right;
      transition: all 0.5s; }
      header .container .navigation.active {
        scale: 1; }
      header .container .navigation p {
        position: absolute;
        top: 25%;
        left: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 1.7rem;
        transform: translateX(-50%); }
      header .container .navigation ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 2rem;
        height: 100%;
        list-style-type: none; }
        header .container .navigation ul li {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: 10px; }
          header .container .navigation ul li a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #333; }
            header .container .navigation ul li a .icon {
              display: flex;
              justify-content: center;
              align-items: center; }
            header .container .navigation ul li a .text {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0px 5px; }
      @media screen and (min-width: 1024px) {
        header .container .navigation {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          position: relative;
          scale: 1;
          background: none;
          width: 50%;
          height: 80px; }
          header .container .navigation ul {
            flex-direction: row; }
            header .container .navigation ul li {
              height: 100%; }
              header .container .navigation ul li a {
                color: #f1f1f1; } }

.form-container {
  width: 70%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #00141fb3;
  box-shadow: 0 0 15px 0 #00141fb3;
  border-radius: 20px;
  padding: 20px 7px; }
  .form-container .form-title {
    width: 100%;
    text-align: center;
    font-family: "Cinzel Decorative", sans-serif;
    font-weight: 600;
    font-size: 2.3rem;
    color: #f1f1f1; }
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px; }
    .form-container .form .input-group {
      display: flex;
      flex-direction: column;
      gap: 7px; }
      .form-container .form .input-group label {
        color: #f1f1f1;
        font-weight: lighter;
        font-size: 1.7rem; }
      .form-container .form .input-group input {
        font-size: 1.25rem;
        padding: .5em;
        background-color: #d1f0ff4d;
        border: none;
        outline: none;
        border-radius: .25em;
        color: #f1f1f1;
        font-weight: lighter; }
        .form-container .form .input-group input:focus {
          box-shadow: 0 0 0 1px #00aaff; }
      .form-container .form .input-group ul li {
        color: #cc3333; }
    .form-container .form button {
      padding: .5em 1em;
      font-size: 1.5rem;
      font-family: "Acme", sans-serif;
      letter-spacing: 2.3px;
      font-weight: lighter;
      color: #f1f1f1;
      background-color: #00aaff40;
      border: 1px solid #00aaff;
      border-radius: .25em;
      outline: none;
      cursor: pointer;
      transition: all .3s; }
      .form-container .form button:hover {
        background-color: #00aaff66;
        letter-spacing: 2.6px; }
      .form-container .form button:focus {
        background-color: #00aaff66;
        letter-spacing: 2.6px; }

.admin-list {
  width: 70%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #00141fb3;
  box-shadow: 0 0 15px 0 #00141fb3;
  border-radius: 20px;
  padding: 20px 7px;
  margin-top: 40px; }
  .admin-list h2 {
    font-size: 1.7rem;
    color: #f1f1f1;
    font-family: "Cinzel Decorative", sans-serif;
    margin-bottom: 20px; }
  .admin-list ul {
    height: 200px;
    overflow-y: scroll;
    background: #d1f0ff4d;
    width: 70%;
    padding: 15px 10px;
    border-radius: .25em; }
    .admin-list ul::-webkit-scrollbar {
      display: none; }
    .admin-list ul li {
      font-size: 1.7rem;
      color: #f1f1f1;
      display: flex;
      justify-content: space-between;
      margin: 10px 0px; }
      .admin-list ul li p {
        display: flex;
        width: calc(100% - 30px);
        justify-content: flex-start;
        align-items: center; }
      .admin-list ul li .links {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px; }
        .admin-list ul li .links a {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #f1f1f1;
          transition: all .3s; }
          .admin-list ul li .links a.update:hover {
            color: #b48645; }
          .admin-list ul li .links a.delete:hover {
            color: #d15757; }

body {
  background-image: url(../images/loginpage/fire.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-height: 100vh; }

#flash {
  position: absolute;
  width: 70%;
  max-width: 700px;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
  background: #00141fb3;
  border-radius: .25em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem; }
  #flash .alert-danger {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cc3333; }
  #flash .alert-success {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #66cc33; }
