@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button, input, select {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

img, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

body {
  background: #f1f1f1;
  font-family: "Acme", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  position: relative; }

.contenu {
  flex: 1 0 auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

section {
  width: 100%;
  position: relative; }

.button {
  position: absolute;
  z-index: 98; }
  .button a {
    position: relative;
    background: #f1f1f1;
    color: #f1f1f1;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    padding: 10px 30px;
    transition: 0.5s; }
    .button a:before {
      content: '';
      position: absolute;
      inset: 2px;
      background: #333; }
    .button a span {
      position: relative;
      z-index: 99; }
    .button a i {
      position: absolute;
      inset: 0;
      display: block; }
      .button a i:before {
        content: '';
        position: absolute;
        top: 0;
        left: 80%;
        width: 10px;
        height: 10px;
        background: #333;
        transform: translate(-50%) skewX(325deg);
        transition: 0.5s; }
      .button a i:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 20%;
        width: 10px;
        height: 10px;
        background: #333;
        transform: translate(-50%) skewX(325deg);
        transition: 0.5s; }
  @media screen and (min-width: 1200px) {
    .button a:hover {
      background: #b48645;
      color: #b48645; }
      .button a:hover i:before {
        width: 20px;
        left: 20%; }
      .button a:hover i:after {
        width: 20px;
        left: 80%; } }

.button-gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; }
  .button-gallery a {
    position: relative;
    background: #f1f1f1;
    color: #f1f1f1;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    padding: 10px 30px;
    transition: 0.5s;
    margin: 0 10px;
    width: 137px; }
    .button-gallery a:before {
      content: '';
      position: absolute;
      inset: 2px;
      background: #333; }
    .button-gallery a span {
      position: relative;
      z-index: 99; }
    .button-gallery a i {
      position: absolute;
      inset: 0;
      display: block; }
      .button-gallery a i:before {
        content: '';
        position: absolute;
        top: 0;
        left: 80%;
        width: 10px;
        height: 10px;
        background: #333;
        transform: translate(-50%) skewX(325deg);
        transition: 0.5s; }
      .button-gallery a i:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 20%;
        width: 10px;
        height: 10px;
        background: #333;
        transform: translate(-50%) skewX(325deg);
        transition: 0.5s; }
  @media screen and (min-width: 1200px) {
    .button-gallery a:hover {
      background: #b48645;
      color: #b48645; }
      .button-gallery a:hover i:before {
        width: 20px;
        left: 20%; }
      .button-gallery a:hover i:after {
        width: 20px;
        left: 80%; } }

header {
  width: 100%;
  position: absolute;
  padding: 5px;
  top: 0;
  left: 0;
  z-index: 5; }
  header .container {
    height: 80px;
    inset: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: top .3s;
    transition-delay: .4s;
    background: rgba(51, 51, 51, 0.403); }
    @media screen and (min-width: 1024px) {
      header .container {
        padding: 2px 10px; } }
    header .container.hidden {
      top: -80px; }
    header .container img.logo {
      width: 75px;
      height: 75px;
      filter: brightness(0) invert(0.9); }
    header .container .menu-toggle {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      transition: all 0.5s;
      z-index: 99;
      cursor: pointer; }
      @media screen and (min-width: 1024px) {
        header .container .menu-toggle {
          display: none; } }
      header .container .menu-toggle:before {
        content: '';
        position: absolute;
        width: 32px;
        height: 2px;
        background: #f1f1f1;
        transform: translateY(-10px);
        box-shadow: 0 10px #f1f1f1;
        transition: 0.5s; }
      header .container .menu-toggle:after {
        content: '';
        position: absolute;
        width: 32px;
        height: 2px;
        background: #f1f1f1;
        transform: translateY(10px);
        transition: 0.5s; }
      header .container .menu-toggle.active {
        background: #333;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        box-shadow: -5px 5px 5px rgba(74, 71, 71, 0.387); }
        header .container .menu-toggle.active:before {
          transform: translateY(0px) rotate(45deg);
          box-shadow: 0 0 #b48645;
          background: #b48645;
          width: 22px; }
        header .container .menu-toggle.active:after {
          transform: translateY(0px) rotate(-45deg);
          background: #b48645;
          width: 22px; }
    header .container .about {
      padding: 10px 15px;
      letter-spacing: 2.3px;
      text-align: center;
      background: #b48645;
      text-transform: uppercase;
      color: #f1f1f1;
      transition: all .3s; }
      header .container .about a {
        text-decoration: none;
        color: #f1f1f1; }
      @media screen and (min-width: 1024px) {
        header .container .about {
          cursor: pointer;
          width: 150px; }
          header .container .about:hover {
            letter-spacing: 2.6px; } }
    header .container .navigation {
      position: absolute;
      background: #f1f1f1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      scale: 0;
      transform-origin: top right;
      transition: all 0.5s; }
      header .container .navigation.active {
        scale: 1; }
      header .container .navigation .sayhello {
        position: absolute;
        top: 25%;
        left: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 1.7rem;
        transform: translateX(-50%); }
        @media screen and (min-width: 1024px) {
          header .container .navigation .sayhello {
            position: relative;
            top: 0;
            left: 0;
            transform: translateX(0%);
            width: auto;
            color: #f1f1f1; } }
      header .container .navigation ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 2rem;
        height: 100%;
        list-style-type: none; }
        header .container .navigation ul li {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: 10px; }
          header .container .navigation ul li a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #333; }
            header .container .navigation ul li a .icon {
              display: flex;
              justify-content: center;
              align-items: center; }
            header .container .navigation ul li a .text {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0px 5px; }
      @media screen and (min-width: 1024px) {
        header .container .navigation {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          position: relative;
          scale: 1;
          background: none;
          width: auto;
          height: 80px; }
          header .container .navigation ul {
            flex-direction: row; }
            header .container .navigation ul li {
              height: 100%; }
              header .container .navigation ul li a {
                color: #f1f1f1; } }

footer {
  flex-shrink: 0;
  border-top: 1px dashed #333;
  width: 100%;
  background: #f1f1f1;
  color: #333; }
  footer .contenu-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
    @media screen and (min-width: 800px) {
      footer .contenu-footer {
        flex-direction: row;
        flex-wrap: wrap; } }
    @media screen and (min-width: 1024px) {
      footer .contenu-footer {
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 50px 0 100px;
        flex-wrap: nowrap; } }
  footer .bloc {
    width: 100%;
    margin: 5px 0px;
    padding: 0px 5px; }
    @media screen and (min-width: 800px) {
      footer .bloc {
        width: 50%; } }
    @media screen and (min-width: 1024px) {
      footer .bloc {
        width: 25%;
        margin: 0 30px; } }
    footer .bloc h3 {
      font-size: 1.7rem;
      padding-bottom: 10px; }
    footer .bloc ul {
      list-style-type: none; }
      footer .bloc ul li {
        padding: 3px 0; }
        footer .bloc ul li a {
          text-decoration: none;
          color: #333;
          display: flex;
          align-items: center;
          font-size: 1.3rem; }
        footer .bloc ul li ion-icon {
          font-size: 2rem;
          padding-right: 1vw; }
    footer .bloc.newsletter {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; }
      footer .bloc.newsletter .input-group {
        gap: 7px;
        width: 100%; }
        footer .bloc.newsletter .input-group.email {
          display: flex;
          flex-direction: column; }
        footer .bloc.newsletter .input-group label {
          font-size: 1.25rem; }
        footer .bloc.newsletter .input-group input {
          padding: .5em;
          background-color: #333;
          border: none;
          outline: none;
          border-radius: .25em;
          color: #f1f1f1;
          font-weight: lighter;
          max-width: 300px; }
          footer .bloc.newsletter .input-group input:focus {
            box-shadow: 0 0 0 1px #00aaff; }
      footer .bloc.newsletter .choice .input-group {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center; }
        footer .bloc.newsletter .choice .input-group input {
          width: 1.25rem;
          height: 1.25rem;
          margin: 7px; }
      footer .bloc.newsletter .add-button {
        text-align: center;
        width: 100%;
        max-width: 300px;
        border: solid 2px #333;
        border-radius: .25rem;
        padding: 10px 15px; }
        footer .bloc.newsletter .add-button a {
          text-decoration: none; }

#flash {
  position: absolute;
  width: 70%;
  max-width: 700px;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
  background: #00141fb3;
  border-radius: .25em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem; }
  #flash .alert-danger {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cc3333; }
  #flash .alert-success {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #66cc33; }

#home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url(../images/homepageimages/enclume.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  #home .content {
    position: relative; }
    #home .content .name {
      position: relative;
      width: 100%;
      background: #f1f1f1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #home .content .name h1 {
        font-family: "Cinzel Decorative", sans-serif;
        font-size: 2.7rem;
        font-weight: 600;
        text-align: center; }
        #home .content .name h1.reveal {
          opacity: 0;
          transform: translateY(-30px); }
        #home .content .name h1.reveal-visible {
          opacity: 1;
          transform: translateY(0px);
          transition: 1s all cubic-bezier(0.5, 0, 0, 1); }

#catalog {
  padding: 20px 0 0px;
  background: #333; }
  #catalog .button {
    width: 250px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; }
  #catalog .banner {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    height: 50vh; }
    @media screen and (min-width: 1024px) {
      #catalog .banner {
        height: 70vh; } }
    #catalog .banner img {
      max-width: none;
      animation: image-translate 60s linear infinite; }

@keyframes image-translate {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(-100%); } }

#services {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 1024px) {
    #services {
      height: 70vh; } }
  #services .container {
    padding: 85px 5px 85px 5px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #services .container:before {
      position: absolute;
      content: '';
      inset: 0;
      background-image: url(../images/knife/cuisine.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      filter: grayscale(100%) brightness(0.9); }
    #services .container h1 {
      position: relative;
      text-transform: uppercase;
      font-size: 1.5rem;
      font-family: "Cinzel Decorative", sans-serif;
      font-weight: 600;
      color: #f0eee3;
      padding-bottom: 20px;
      border-bottom: 2px solid rgba(74, 71, 71, 0.387); }
      @media screen and (min-width: 1024px) {
        #services .container h1 {
          padding-left: 40px; } }
    #services .container ul {
      z-index: 2;
      position: relative; }
      #services .container ul li {
        text-transform: uppercase;
        font-size: 3.125rem;
        border-bottom: 2px solid rgba(74, 71, 71, 0.387); }
        #services .container ul li a {
          text-decoration: none;
          color: #f1f1f1;
          position: relative; }
          @media screen and (min-width: 1024px) {
            #services .container ul li a {
              padding-left: 40px; }
              #services .container ul li a::before {
                content: attr(data-text);
                position: absolute;
                color: #b48645;
                width: 0;
                overflow: hidden;
                transition: .6s ease-in-out;
                border-right: 8px solid #b48645; }
              #services .container ul li a:hover::before {
                width: 100%;
                filter: drop-shadow(0 0 25px #b48645); } }

#instructions {
  background: #f1f1f1;
  color: #333;
  padding: 40px 5px; }
  @media screen and (min-width: 1024px) {
    #instructions ul {
      display: flex;
      justify-content: center;
      align-items: flex-start; }
      #instructions ul li {
        width: 30%;
        margin: 0 15px; } }
  #instructions h1 {
    width: 100%;
    text-align: center;
    font-family: "Cinzel Decorative", sans-serif;
    font-size: 1.5rem;
    font-weight: 600; }
  #instructions .article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
    #instructions .article .wrapper {
      inset: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 15px 5px; }
      #instructions .article .wrapper img {
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
        max-width: 300px; }
      #instructions .article .wrapper .number {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #f1f1f1;
        font-size: 5rem;
        font-weight: 600;
        width: 100%;
        text-align: center; }
    #instructions .article p {
      text-align: left;
      font-size: 1.2rem;
      width: 100%; }
      @media screen and (min-width: 1024px) {
        #instructions .article p {
          text-align: justify; } }

#events {
  width: 100%;
  background: #333;
  padding: 30px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #events h1 {
    width: 100%;
    text-align: center;
    font-family: "Cinzel Decorative", sans-serif;
    font-size: 1.45rem;
    font-weight: 600;
    color: #f0eee3;
    padding-bottom: 20px; }
  #events table {
    border: 1px solid #f1f1f1;
    width: 100%;
    max-width: 700px; }
    #events table thead {
      color: #f1f1f1;
      border: 1px solid #f1f1f1; }
      #events table thead th {
        border: 1px solid #f1f1f1; }
    #events table tbody {
      background: #f1f1f1;
      border: #f1f1f1; }
      #events table tbody tr {
        border: 1px solid #333; }
        #events table tbody tr td {
          border: 1px solid #333;
          padding: 1px 2px; }

#workshop {
  width: 100%;
  padding: 30px 5px; }
  #workshop h1 {
    width: 100%;
    text-align: center;
    font-family: "Cinzel Decorative", sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    padding-bottom: 20px; }
  #workshop p {
    text-align: center;
    padding: 10px 0;
    font-size: 1.4rem; }
  #workshop iframe {
    width: 100%; }
