@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button, input, select {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

img, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

body {
  background: #f1f1f1;
  font-family: "Acme", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  position: relative; }

.contenu {
  flex: 1 0 auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

section {
  width: 100%;
  position: relative; }

.button {
  position: absolute;
  z-index: 98; }
  .button a {
    position: relative;
    background: #f1f1f1;
    color: #f1f1f1;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    padding: 10px 30px;
    transition: 0.5s; }
    .button a:before {
      content: '';
      position: absolute;
      inset: 2px;
      background: #333; }
    .button a span {
      position: relative;
      z-index: 99; }
    .button a i {
      position: absolute;
      inset: 0;
      display: block; }
      .button a i:before {
        content: '';
        position: absolute;
        top: 0;
        left: 80%;
        width: 10px;
        height: 10px;
        background: #333;
        transform: translate(-50%) skewX(325deg);
        transition: 0.5s; }
      .button a i:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 20%;
        width: 10px;
        height: 10px;
        background: #333;
        transform: translate(-50%) skewX(325deg);
        transition: 0.5s; }
  @media screen and (min-width: 1200px) {
    .button a:hover {
      background: #b48645;
      color: #b48645; }
      .button a:hover i:before {
        width: 20px;
        left: 20%; }
      .button a:hover i:after {
        width: 20px;
        left: 80%; } }

.button-gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; }
  .button-gallery a {
    position: relative;
    background: #f1f1f1;
    color: #f1f1f1;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    padding: 10px 30px;
    transition: 0.5s;
    margin: 0 10px;
    width: 137px; }
    .button-gallery a:before {
      content: '';
      position: absolute;
      inset: 2px;
      background: #333; }
    .button-gallery a span {
      position: relative;
      z-index: 99; }
    .button-gallery a i {
      position: absolute;
      inset: 0;
      display: block; }
      .button-gallery a i:before {
        content: '';
        position: absolute;
        top: 0;
        left: 80%;
        width: 10px;
        height: 10px;
        background: #333;
        transform: translate(-50%) skewX(325deg);
        transition: 0.5s; }
      .button-gallery a i:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 20%;
        width: 10px;
        height: 10px;
        background: #333;
        transform: translate(-50%) skewX(325deg);
        transition: 0.5s; }
  @media screen and (min-width: 1200px) {
    .button-gallery a:hover {
      background: #b48645;
      color: #b48645; }
      .button-gallery a:hover i:before {
        width: 20px;
        left: 20%; }
      .button-gallery a:hover i:after {
        width: 20px;
        left: 80%; } }

header {
  width: 100%;
  position: absolute;
  padding: 5px;
  top: 0;
  left: 0;
  z-index: 5; }
  header .container {
    height: 80px;
    inset: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: top .3s;
    transition-delay: .4s;
    background: rgba(51, 51, 51, 0.403); }
    @media screen and (min-width: 1024px) {
      header .container {
        padding: 2px 10px; } }
    header .container.hidden {
      top: -80px; }
    header .container img.logo {
      width: 75px;
      height: 75px;
      filter: brightness(0) invert(0.9); }
    header .container .menu-toggle {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
      height: 60px;
      transition: all 0.5s;
      z-index: 99;
      cursor: pointer; }
      @media screen and (min-width: 1024px) {
        header .container .menu-toggle {
          display: none; } }
      header .container .menu-toggle:before {
        content: '';
        position: absolute;
        width: 32px;
        height: 2px;
        background: #f1f1f1;
        transform: translateY(-10px);
        box-shadow: 0 10px #f1f1f1;
        transition: 0.5s; }
      header .container .menu-toggle:after {
        content: '';
        position: absolute;
        width: 32px;
        height: 2px;
        background: #f1f1f1;
        transform: translateY(10px);
        transition: 0.5s; }
      header .container .menu-toggle.active {
        background: #333;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        box-shadow: -5px 5px 5px rgba(74, 71, 71, 0.387); }
        header .container .menu-toggle.active:before {
          transform: translateY(0px) rotate(45deg);
          box-shadow: 0 0 #b48645;
          background: #b48645;
          width: 22px; }
        header .container .menu-toggle.active:after {
          transform: translateY(0px) rotate(-45deg);
          background: #b48645;
          width: 22px; }
    header .container .about {
      padding: 10px 15px;
      letter-spacing: 2.3px;
      text-align: center;
      background: #b48645;
      text-transform: uppercase;
      color: #f1f1f1;
      transition: all .3s; }
      @media screen and (min-width: 1024px) {
        header .container .about {
          cursor: pointer;
          width: 150px; }
          header .container .about:hover {
            letter-spacing: 2.6px; } }
    header .container .navigation {
      position: absolute;
      background: #f1f1f1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      scale: 0;
      transform-origin: top right;
      transition: all 0.5s; }
      header .container .navigation.active {
        scale: 1; }
      header .container .navigation .sayhello {
        position: absolute;
        top: 25%;
        left: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 1.7rem;
        transform: translateX(-50%); }
        @media screen and (min-width: 1024px) {
          header .container .navigation .sayhello {
            position: relative;
            top: 0;
            left: 0;
            transform: translateX(0%);
            width: auto;
            color: #f1f1f1; } }
      header .container .navigation ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-size: 2rem;
        height: 100%;
        list-style-type: none; }
        header .container .navigation ul li {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-left: 10px; }
          header .container .navigation ul li a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: #333; }
            header .container .navigation ul li a .icon {
              display: flex;
              justify-content: center;
              align-items: center; }
            header .container .navigation ul li a .text {
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0px 5px; }
      @media screen and (min-width: 1024px) {
        header .container .navigation {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          position: relative;
          scale: 1;
          background: none;
          width: auto;
          height: 80px; }
          header .container .navigation ul {
            flex-direction: row; }
            header .container .navigation ul li {
              height: 100%; }
              header .container .navigation ul li a {
                color: #f1f1f1; } }

footer {
  flex-shrink: 0;
  border-top: 1px dashed #333;
  width: 100%;
  background: #f1f1f1;
  color: #333; }
  footer .contenu-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; }
    @media screen and (min-width: 800px) {
      footer .contenu-footer {
        flex-direction: row;
        flex-wrap: wrap; } }
    @media screen and (min-width: 1024px) {
      footer .contenu-footer {
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 50px 0 100px;
        flex-wrap: nowrap; } }
  footer .bloc {
    width: 100%;
    margin: 5px 0px;
    padding: 0px 5px; }
    @media screen and (min-width: 800px) {
      footer .bloc {
        width: 50%; } }
    @media screen and (min-width: 1024px) {
      footer .bloc {
        width: 25%;
        margin: 0 30px; } }
    footer .bloc h3 {
      font-size: 1.7rem;
      padding-bottom: 10px; }
    footer .bloc ul {
      list-style-type: none; }
      footer .bloc ul li {
        padding: 3px 0; }
        footer .bloc ul li a {
          text-decoration: none;
          color: #333;
          display: flex;
          align-items: center;
          font-size: 1.3rem; }
        footer .bloc ul li ion-icon {
          font-size: 2rem;
          padding-right: 1vw; }

.contenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden; }

.gallery-title {
  margin: 95px 0px 30px;
  width: 100%;
  text-align: center;
  font-family: "Cinzel Decorative", sans-serif;
  font-size: 2rem;
  font-weight: 600; }

.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .gallery .blocknife {
    width: 100%;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 15px 50px;
    padding-bottom: 10px;
    border-bottom: 2px solid #333; }
    @media screen and (min-width: 1024px) {
      .gallery .blocknife {
        width: 95%;
        max-width: 1200px; } }
    .gallery .blocknife .knifename {
      font-size: 1.7rem;
      width: 100%;
      text-align: left;
      padding: 0 0 20px 15px; }
    .gallery .blocknife .card .mainpicture {
      width: 300px;
      height: 300px;
      border-radius: .3rem;
      overflow: hidden; }
      .gallery .blocknife .card .mainpicture img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        object-position: center; }
    .gallery .blocknife .card .alldetails .specificities {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      height: 300px; }
      @media screen and (min-width: 600px) {
        .gallery .blocknife .card .alldetails .specificities {
          width: 300px; } }
      .gallery .blocknife .card .alldetails .specificities .knifedescription {
        width: 100%;
        text-align: justify;
        font-size: 1.3rem;
        padding: 10px 15px 5px; }
        @media screen and (min-width: 600px) {
          .gallery .blocknife .card .alldetails .specificities .knifedescription {
            height: 240px; } }
      .gallery .blocknife .card .alldetails .specificities .category {
        width: 100%;
        text-align: left;
        font-size: 1.1rem;
        padding: 5px 15px; }

.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px; }

.carousel {
  width: 300px;
  height: 300px;
  position: relative;
  border-radius: .3rem;
  overflow: hidden; }
  @media screen and (min-width: 600px) {
    .carousel {
      width: 500px;
      height: 500px; } }
  @media screen and (min-width: 1024px) {
    .carousel {
      width: 700px;
      height: 700px; } }
  .carousel .slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms; }
    .carousel .slide[data-active] {
      opacity: 1;
      z-index: 1;
      transition-delay: 0ms; }
    .carousel .slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .carousel ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .carousel .carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    height: 64px;
    width: 64px;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, 0.2); }
    .carousel .carousel-button.prev {
      left: .1rem; }
    .carousel .carousel-button.next {
      right: .1rem; }
    .carousel .carousel-button ion-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%; }
    @media screen and (min-width: 1024px) {
      .carousel .carousel-button.prev {
        left: 1rem; }
      .carousel .carousel-button.next {
        right: 1rem; }
      .carousel .carousel-button:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.3); }
      .carousel .carousel-button:focus {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.3);
        outline: 1px solid black; } }

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 1024px) {
    .card {
      flex-direction: row; } }

.alldetails {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  @media screen and (min-width: 600px) {
    .alldetails {
      flex-direction: row;
      justify-content: center;
      align-items: flex-start; } }
  @media screen and (min-width: 1024px) {
    .alldetails {
      width: calc(100% - 300px); } }
  .alldetails .details {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 15px 5px; }
    .alldetails .details .components, .alldetails .details .knifespec {
      width: 50%;
      font-size: 1.1rem;
      padding: 5px 15px; }
      .alldetails .details .components ul, .alldetails .details .knifespec ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        font-size: .95rem; }
        .alldetails .details .components ul li, .alldetails .details .knifespec ul li {
          width: 100%;
          display: flex;
          flex-direction: column;
          font-size: .85rem; }
          .alldetails .details .components ul li h3, .alldetails .details .knifespec ul li h3 {
            text-decoration: underline; }
          .alldetails .details .components ul li .available, .alldetails .details .knifespec ul li .available {
            color: #66cc33; }
          .alldetails .details .components ul li .unavailable, .alldetails .details .knifespec ul li .unavailable {
            color: #cc3333; }
    .alldetails .details .knifespec ul {
      grid-template-columns: repeat(2, 1fr); }
