.allnews {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px; }
  .allnews .news {
    padding: 30px;
    scroll-margin: 70px;
    width: 100%; }
    .allnews .news h1, .allnews .news h2 {
      margin: 1rem; }
    .allnews .news img {
      margin: 20px;
      width: 300px;
      height: 300px;
      border: solid darkgrey 3px;
      border-radius: 10px; }
    .allnews .news p {
      margin: 30px 20px;
      font-style: italic; }
    .allnews .news:nth-child(even) img {
      float: left; }
    .allnews .news:nth-child(odd) img {
      float: right; }

/*
  How to compute the filter value ???
  Go to thi site: https://codepen.io/sosuke/pen/Pjoqqp
  Enter your color code.
  To know your color code go here : https://htmlcolorcodes.com/
*/
.svgsmall-lightblue {
  text-decoration: none;
  width: 18px;
  height: 18px;
  filter: invert(44%) sepia(88%) saturate(1176%) hue-rotate(191deg) brightness(100%) contrast(101%); }

.svgsmall-blue {
  width: 18px;
  height: 18px;
  filter: invert(44%) sepia(96%) saturate(6317%) hue-rotate(229deg) brightness(100%) contrast(102%); }

.svgsmall-lightgreen {
  width: 18px;
  height: 18px;
  filter: invert(41%) sepia(98%) saturate(581%) hue-rotate(83deg) brightness(81%) contrast(80%); }

.svgsmall-red {
  width: 18px;
  height: 18px;
  filter: invert(19%) sepia(96%) saturate(6102%) hue-rotate(357deg) brightness(98%) contrast(117%); }

.svgmedium-white {
  width: 24px;
  height: 24px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.svgbig-white {
  width: 50px;
  height: 50px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.topmenu {
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  align-items: center;
  background: radial-gradient(circle, #020024 0%, #097936 100%, #00d4ff 100%); }
  .topmenu a {
    color: white; }
  .topmenu .logo {
    width: 40px; }
  .topmenu .nav-links ul {
    display: flex;
    justify-content: center;
    gap: 20px; }
    .topmenu .nav-links ul ul {
      display: flex;
      gap: 2px; }
    .topmenu .nav-links ul li a {
      font-size: 1.2rem;
      text-decoration: none; }
      .topmenu .nav-links ul li a::after {
        content: '';
        width: 0%;
        height: 2px;
        background: white;
        display: block;
        margin: auto;
        transition: 0.5s; }
      .topmenu .nav-links ul li a:hover {
        color: white; }
        .topmenu .nav-links ul li a:hover::after {
          width: 100%; }

.footer {
  position: fixed;
  display: none;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: radial-gradient(circle, #020024 0%, #097936 100%, #00d4ff 100%); }
  .footer .menu-hamburger {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 40px; }

.svg-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

/* --------------------  R E S P O N S I V E --------------------*/
@media screen and (max-width: 850px) {
  .topmenu {
    padding: 0; }
    .topmenu .logo {
      position: absolute;
      top: 20px;
      left: 20px; }
  .footer {
    display: block; }
    .footer .menu-hamburger {
      display: block; }
  .nav-links {
    display: flex;
    top: 0;
    left: 0;
    position: absolute;
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all .6s ease; }
    .nav-links.mobile-menu {
      margin-left: 0; }
    .nav-links ul {
      display: flex;
      flex-direction: column;
      gap: 35px;
      align-items: center;
      background: radial-gradient(circle, #020024 0%, #097936 100%, #00d4ff 100%);
      padding: 20px;
      border-radius: 10px;
      min-width: fit-content; }
      .nav-links ul li {
        font-size: 1.2rem; }
      .nav-links ul ul {
        flex-direction: row;
        gap: 2px;
        background: transparent; } }

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  scroll-margin: 90px;
  padding: 20px; }
  .cards .cards-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin: 1rem 4rem 2rem 4rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid gray; }
  .cards .cardframe {
    width: 300px;
    height: auto;
    padding: 20px;
    transition: all .8s ease-in; }
    .cards .cardframe .card-image img {
      height: 100px;
      width: 100px;
      border: solid darkgrey 3px;
      border-radius: 50%;
      float: right;
      shape-outside: circle();
      margin-left: 2rem; }
    .cards .cardframe .card-title {
      padding: 20px 10px;
      font-size: 1.5rem;
      min-height: 100px; }
    .cards .cardframe .card-text {
      line-height: 20px;
      margin-top: 1rem; }
      .cards .cardframe .card-text:hover {
        box-shadow: 0px 0px 11px 5px #000;
        transition: all .5s  ease;
        padding: 10px; }

/* --------------------  R E S P O N S I V E --------------------*/
@media screen and (max-width: 800px) {
  .card img {
    width: 200px; } }

/*
  How to compute the filter value ???
  Go to thi site: https://codepen.io/sosuke/pen/Pjoqqp
  Enter your color code.
  To know your color code go here : https://htmlcolorcodes.com/
*/
.svgsmall-lightblue {
  text-decoration: none;
  width: 18px;
  height: 18px;
  filter: invert(44%) sepia(88%) saturate(1176%) hue-rotate(191deg) brightness(100%) contrast(101%); }

.svgsmall-blue {
  width: 18px;
  height: 18px;
  filter: invert(44%) sepia(96%) saturate(6317%) hue-rotate(229deg) brightness(100%) contrast(102%); }

.svgsmall-lightgreen {
  width: 18px;
  height: 18px;
  filter: invert(41%) sepia(98%) saturate(581%) hue-rotate(83deg) brightness(81%) contrast(80%); }

.svgsmall-red {
  width: 18px;
  height: 18px;
  filter: invert(19%) sepia(96%) saturate(6102%) hue-rotate(357deg) brightness(98%) contrast(117%); }

.svgmedium-white {
  width: 24px;
  height: 24px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.svgbig-white {
  width: 50px;
  height: 50px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

*, *::before, *::after {
  box-sizing: border-box; }

#thegallery {
  background: #959595;
  background: linear-gradient(to bottom left, #959595 0%, #0D0D0D 50%, #010101 50%, #0A0A0A 53%, #4E4E4E 76%, #383838 87%, #1B1B1B 100%);
  scroll-margin: 70px;
  padding: 30px; }
  #thegallery .galleryzone {
    display: flex;
    flex-direction: column;
    padding-bottom: 3em; }
    #thegallery .galleryzone .gallerytext {
      max-width: 70%;
      margin: 0 auto;
      padding: 1em;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: normal;
      font-style: italic; }
    #thegallery .galleryzone .gallery {
      max-width: 70%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      gap: 2vmin;
      padding: 0 14px;
      list-style-type: none; }
      #thegallery .galleryzone .gallery li {
        height: 250px;
        flex-grow: 1; }
      #thegallery .galleryzone .gallery img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover; }
      #thegallery .galleryzone .gallery ::after {
        content: "";
        display: block;
        flex-grow: 10; }
    #thegallery .galleryzone .carousel {
      width: 400px;
      height: 400px;
      position: relative;
      margin: 0 auto; }
      #thegallery .galleryzone .carousel > ul {
        margin: 0;
        padding: 0;
        list-style: none; }
      #thegallery .galleryzone .carousel .carousel-button {
        position: absolute;
        background: none;
        border: none;
        top: 50%;
        z-index: 2;
        transform: translateY(-50%);
        color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        border-radius: .25rem;
        padding: 0 .5rem;
        background-color: rgba(0, 0, 0, 0.1);
        width: 4rem; }
        #thegallery .galleryzone .carousel .carousel-button img {
          size: 3rem; }
        #thegallery .galleryzone .carousel .carousel-button:hover, #thegallery .galleryzone .carousel .carousel-button:focus {
          color: white;
          background-color: rgba(0, 0, 0, 0.2); }
        #thegallery .galleryzone .carousel .carousel-button:focus {
          outline: 1px solid black; }
        #thegallery .galleryzone .carousel .carousel-button.prev {
          left: 1rem; }
        #thegallery .galleryzone .carousel .carousel-button.next {
          right: 1rem; }
      #thegallery .galleryzone .carousel .slide {
        position: absolute;
        inset: 0;
        opacity: 0;
        transition: 1s opacity ease-in-out; }
        #thegallery .galleryzone .carousel .slide.active {
          opacity: 1; }
        #thegallery .galleryzone .carousel .slide > img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          border-radius: 10px; }

#fullscreen {
  background-color: white; }

.zoomon {
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-name: fadein; }
  .zoomon h2 {
    size: 1rem;
    position: absolute;
    padding: .8rem;
    color: white;
    background-color: darkgrey;
    top: 5%;
    left: 5%;
    opacity: 0.5; }

.zoomoff {
  display: none; }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth !important;
  box-sizing: border-box; }

.bg-knifeleft {
  background-image: url("../images/background-left.jpg");
  background-size: cover;
  color: white; }

.bg-kniferight {
  background-image: url("../images/background-right.jpg");
  background-size: cover;
  color: white; }

.bg-enclume {
  background-image: url("../images/enclume.jpg");
  background-size: cover;
  color: white; }

.bg-thinknife {
  background-image: url("../images/home-knife.jpg");
  background-size: cover;
  color: white; }

.bgr-green {
  background: radial-gradient(circle, #020024 0%, #097936 100%, #00d4ff 100%);
  color: white; }

.bgr-black {
  background: linear-gradient(to bottom left, #959595 0%, #0D0D0D 50%, #010101 50%, #0A0A0A 53%, #4E4E4E 76%, #383838 87%, #1B1B1B 100%);
  color: white; }

.bgr-blue {
  background: radial-gradient(circle, #020024 0%, #090979 50%, #00d4ff 100%);
  color: white; }
