@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Englebert&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap");
/*
  Special section for SVGs

  How to compute the filter value ???
  Go to thi site: https://codepen.io/sosuke/pen/Pjoqqp
  Enter your color code.
  To know your color code go here : https://htmlcolorcodes.com/
*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Englebert&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Englebert&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap");
.svgsmall-lightblue {
  text-decoration: none;
  width: 18px;
  height: 18px;
  filter: invert(44%) sepia(88%) saturate(1176%) hue-rotate(191deg) brightness(100%) contrast(101%); }

.svgsmall-blue {
  width: 18px;
  height: 18px;
  filter: invert(44%) sepia(96%) saturate(6317%) hue-rotate(229deg) brightness(100%) contrast(102%); }

.svgbig-blue {
  width: 50px;
  height: 50px;
  filter: invert(44%) sepia(96%) saturate(6317%) hue-rotate(229deg) brightness(100%) contrast(102%); }

.svgsmall-lightgreen {
  width: 18px;
  height: 18px;
  filter: invert(41%) sepia(98%) saturate(581%) hue-rotate(83deg) brightness(81%) contrast(80%); }

.svgsmall-red {
  width: 18px;
  height: 18px;
  filter: invert(19%) sepia(96%) saturate(6102%) hue-rotate(357deg) brightness(98%) contrast(117%); }

.svgbig-red {
  width: 50px;
  height: 50px;
  filter: invert(19%) sepia(96%) saturate(6102%) hue-rotate(357deg) brightness(98%) contrast(117%); }

.svgmedium-white {
  width: 24px;
  height: 24px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.svgbig-white {
  width: 50px;
  height: 50px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.svglarge-white {
  width: 80px;
  height: 80px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.svg-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes slideDown {
  0% {
    transform: translateY(-100%); }
  50% {
    transform: translateY(8%); }
  65% {
    transform: translateY(-4%); }
  80% {
    transform: translateY(4%); }
  95% {
    transform: translateY(-2%); }
  100% {
    transform: translateY(0%); } }

@keyframes slideUp {
  100% {
    transform: translateY(-100%); }
  0% {
    transform: translateY(0%); } }

.allnews {
  scroll-margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/home-knife.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: white; }
  .allnews h1 {
    font-family: "Cinzel Decorative", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2rem 0;
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .allnews h1 {
        font-size: 3rem; } }
  .allnews h2 {
    font-family: "Gideon Roman", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 2rem;
    line-height: 1.5rem;
    display: inline-block;
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .allnews h2 {
        font-size: 2rem; } }
  .allnews p {
    padding: 1em;
    font-size: 1rem;
    line-height: 1.4rem;
    text-align: right;
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .allnews p {
        font-size: 1.5rem;
        line-height: 2rem; } }
  .allnews .news {
    width: 80%;
    margin-bottom: 2.5rem; }
    @media screen and (min-width: 1024px) {
      .allnews .news {
        max-width: 1024px; } }
    .allnews .news p {
      text-align: left;
      font-family: "Gideon Roman", sans-serif; }
      .allnews .news p a {
        color: lightblue; }
        .allnews .news p a:hover {
          font-size: 3rem;
          transition: all .5s ease; }
    .allnews .news img {
      margin: 20px;
      width: 300px;
      height: 300px;
      border: solid darkgrey 3px;
      border-radius: 5px; }
    .allnews .news:nth-child(even) h1, .allnews .news:nth-child(even) h2 {
      text-align: left; }
    .allnews .news:nth-child(even) img {
      float: left; }
    .allnews .news:nth-child(odd) h1, .allnews .news:nth-child(odd) h2 {
      text-align: right; }
    .allnews .news:nth-child(odd) img {
      float: right; }

.topmenu {
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  align-items: center;
  background: #1a1917; }
  .topmenu #homelink {
    margin: 1rem; }
    @media screen and (min-width: 1024px) {
      .topmenu #homelink {
        display: none; } }
  .topmenu .logozone {
    width: 40%; }
    .topmenu .logozone .logo {
      width: 50px; }
    .topmenu .logozone .debug {
      margin-top: .4rem;
      color: white;
      font-size: .7rem; }
  .topmenu a {
    color: white; }
  .topmenu .nav-links ul {
    display: flex;
    justify-content: center;
    gap: 20px; }
    .topmenu .nav-links ul ul {
      display: flex;
      gap: 2px; }
    .topmenu .nav-links ul li {
      color: white; }
      .topmenu .nav-links ul li a {
        font-size: 1.2rem;
        text-decoration: none; }
        .topmenu .nav-links ul li a::after {
          content: '';
          width: 0%;
          height: 2px;
          background: white;
          display: block;
          margin: auto;
          transition: 0.5s; }
        .topmenu .nav-links ul li a:hover {
          color: white; }
          .topmenu .nav-links ul li a:hover::after {
            width: 100%; }

.footer {
  position: fixed;
  display: none;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #1a1917; }
  .footer .menu-hamburger {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 40px; }

.svg-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

/* --------------------  R E S P O N S I V E --------------------*/
@media screen and (max-width: 1024px) {
  .topmenu {
    padding: 0; }
    .topmenu .logozone {
      width: 60%; }
      .topmenu .logozone .logo {
        position: absolute;
        top: 20px;
        left: 20px; }
      .topmenu .logozone .debug {
        margin-left: 6rem;
        margin-top: 0; }
  .footer {
    display: block; }
    .footer .menu-hamburger {
      display: block; }
  .nav-links {
    display: flex;
    top: 0;
    left: 0;
    position: absolute;
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all .6s ease; }
    .nav-links.mobile-menu {
      margin-left: 0; }
    .nav-links ul {
      display: flex;
      flex-direction: column;
      gap: 35px;
      align-items: center;
      background: #1a1917;
      padding: 20px;
      border-radius: 5px;
      min-width: fit-content; }
      .nav-links ul li {
        font-size: 1.2rem; }
      .nav-links ul ul {
        flex-direction: row;
        gap: 2px;
        background: transparent; } }

#knivesgallery {
  width: 100%;
  padding-top: 1rem;
  background-image: url(../images/BastosBG4.webp);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  scroll-margin: 100px; }
  @media screen and (min-width: 1024px) {
    #knivesgallery {
      background-size: 70%;
      background-repeat: no-repeat; } }

#knivesgallery[active] {
  animation-name: fadein;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: linear; }

#knivesgallery[inactive] {
  animation-name: fadeout;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-timing-function: linear; }

.cards {
  color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0 2rem; }
  @media screen and (min-width: 1024px) {
    .cards {
      width: 70%;
      max-width: 1024px; } }
  .cards > p {
    font-family: "Gideon Roman", sans-serif; }
  .cards > h2 {
    font-family: "Gideon Roman", sans-serif; }
  .cards__header {
    background-color: rgba(51, 51, 51, 0.4); }
    .cards__header h2 {
      margin-top: 2rem;
      border-top: solid white 2px;
      font-size: 3rem;
      padding: 2rem; }
    .cards__header p {
      text-align: left;
      font-size: 1.2rem;
      line-height: 1.5rem;
      padding: 0 2rem 0 2rem; }
    @media screen and (min-width: 1024px) {
      .cards__header {
        width: 90%; }
        .cards__header h2 {
          font-size: 4rem; }
        .cards__header p {
          font-size: 1.5rem;
          line-height: 1.8rem; } }
  .cards__frame {
    background-color: rgba(51, 51, 51, 0.4);
    height: auto; }
    @media screen and (min-width: 1024px) {
      .cards__frame {
        width: 90%;
        padding: 1rem 0 0 0;
        max-width: 1024px; }
        .cards__frame:nth-child(odd) p {
          text-align: right; }
        .cards__frame:nth-child(odd) img {
          float: left;
          margin-right: 2rem;
          margin-bottom: 1rem; }
        .cards__frame:nth-child(even) p {
          text-align: left; }
        .cards__frame:nth-child(even) img {
          float: right;
          margin-left: 2rem;
          margin-bottom: 1rem; } }
    .cards__frame__title {
      padding: 1rem 2rem 1rem 2rem;
      font-size: 2rem;
      font-family: "Gideon Roman", sans-serif; }
      @media screen and (min-width: 1024px) {
        .cards__frame__title {
          font-size: 2rem; } }
    .cards__frame__txtimg {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 1rem 2rem 0 2rem; }
      .cards__frame__txtimg > p {
        margin-top: 1rem; }
      @media screen and (min-width: 1024px) {
        .cards__frame__txtimg {
          display: block; } }
      .cards__frame__txtimg img {
        width: 140px;
        height: 8rem;
        border: solid darkgrey 3px;
        border-radius: 5px; }
        @media screen and (min-width: 1024px) {
          .cards__frame__txtimg img {
            width: 300px;
            height: 300px; } }
    .cards__frame__text {
      font-size: 1.2rem;
      line-height: 1.5rem;
      text-align: left; }
  .cards__links {
    width: 90%;
    background-color: rgba(51, 51, 51, 0.4);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 2rem; }
    @media screen and (min-width: 1024px) {
      .cards__links {
        max-width: 1024px; } }
    .cards__links p {
      font-family: "Gideon Roman", sans-serif;
      width: 85%;
      text-align: center;
      font-weight: 600;
      font-size: 1.5rem;
      padding-top: 2rem;
      margin: 1rem 0 1rem 0; }
    .cards__links__details {
      display: flex;
      flex-direction: column;
      width: 30%;
      justify-content: center;
      align-items: center;
      cursor: pointer; }
      .cards__links__details p {
        height: 5rem;
        font-weight: normal;
        margin: 1rem 0 1rem 0;
        font-size: 0.9rem; }
        @media screen and (min-width: 1024px) {
          .cards__links__details p {
            font-size: 1.5rem; } }
      .cards__links__details img {
        border-radius: 5px;
        width: 90%;
        height: auto; }

/*
  Special section for SVGs

  How to compute the filter value ???
  Go to thi site: https://codepen.io/sosuke/pen/Pjoqqp
  Enter your color code.
  To know your color code go here : https://htmlcolorcodes.com/
*/
.svgsmall-lightblue {
  text-decoration: none;
  width: 18px;
  height: 18px;
  filter: invert(44%) sepia(88%) saturate(1176%) hue-rotate(191deg) brightness(100%) contrast(101%); }

.svgsmall-blue {
  width: 18px;
  height: 18px;
  filter: invert(44%) sepia(96%) saturate(6317%) hue-rotate(229deg) brightness(100%) contrast(102%); }

.svgbig-blue {
  width: 50px;
  height: 50px;
  filter: invert(44%) sepia(96%) saturate(6317%) hue-rotate(229deg) brightness(100%) contrast(102%); }

.svgsmall-lightgreen {
  width: 18px;
  height: 18px;
  filter: invert(41%) sepia(98%) saturate(581%) hue-rotate(83deg) brightness(81%) contrast(80%); }

.svgsmall-red {
  width: 18px;
  height: 18px;
  filter: invert(19%) sepia(96%) saturate(6102%) hue-rotate(357deg) brightness(98%) contrast(117%); }

.svgbig-red {
  width: 50px;
  height: 50px;
  filter: invert(19%) sepia(96%) saturate(6102%) hue-rotate(357deg) brightness(98%) contrast(117%); }

.svgmedium-white {
  width: 24px;
  height: 24px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.svgbig-white {
  width: 50px;
  height: 50px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.svglarge-white {
  width: 80px;
  height: 80px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.svg-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes slideDown {
  0% {
    transform: translateY(-100%); }
  50% {
    transform: translateY(8%); }
  65% {
    transform: translateY(-4%); }
  80% {
    transform: translateY(4%); }
  95% {
    transform: translateY(-2%); }
  100% {
    transform: translateY(0%); } }

@keyframes slideUp {
  100% {
    transform: translateY(-100%); }
  0% {
    transform: translateY(0%); } }

.slider {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px);
  width: 100vw;
  height: 100dvh;
  color: white;
  border: red 2px solid; }
  .slider h2 {
    font-family: "Gideon Roman", sans-serif; }
  .slider__box {
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 10% 70% 10%;
    grid-template-areas: '. kdesc .' '. img .' 'left indic right';
    width: 80vw;
    height: 90dvh;
    max-width: 1024px;
    align-items: center;
    justify-content: center; }
    @media screen and (min-width: 1024px) {
      .slider__box {
        grid-template-areas: '. kdesc .' 'left img right' '. indic .'; } }
    .slider__box__action {
      cursor: pointer; }
      .slider__box__action img {
        width: 50px; }
      @media screen and (min-width: 1024px) {
        .slider__box__action img {
          width: 60px; } }
    .slider__box__slides {
      display: contents;
      margin: 1rem 0;
      position: absolute;
      inset: 0;
      border: green 2px solid; }
      .slider__box__slides__img {
        display: flex;
        opacity: 0;
        transition: 1s opacity ease-in-out; }
        .slider__box__slides__img.active {
          opacity: 1; }
    .slider__box__indicators {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2rem;
      grid-area: indic; }
      .slider__box__indicators__flags {
        opacity: .6;
        width: 30px;
        height: 10px;
        border-radius: 5px;
        margin-left: 3px;
        margin-right: 3px;
        cursor: pointer; }
        @media screen and (min-width: 1024px) {
          .slider__box__indicators__flags {
            height: 10px; } }
        .slider__box__indicators__flags.active {
          opacity: 1;
          background-color: white; }

.prev {
  grid-area: left;
  justify-self: right; }

.next {
  grid-area: right;
  justify-self: left; }

.img {
  grid-area: img;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto; }

.kdesc {
  grid-area: kdesc; }

.zoomon {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100dvh;
  width: 100%;
  justify-content: center;
  align-items: center;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-name: fadein;
  overflow: hidden;
  background-color: #1a1917; }
  .zoomon .svg-white {
    width: 60px; }
  .zoomon img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 5px; }
  .zoomon__image {
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    width: 90%; }
  .zoomon h2 {
    size: 1rem;
    position: absolute;
    padding: .8rem;
    color: white;
    background-color: darkgrey;
    top: 5%;
    left: 5%;
    opacity: 0.5; }

.zoomoff {
  display: none; }

/*
  Special section for SVGs

  How to compute the filter value ???
  Go to thi site: https://codepen.io/sosuke/pen/Pjoqqp
  Enter your color code.
  To know your color code go here : https://htmlcolorcodes.com/
*/
.svgsmall-lightblue {
  text-decoration: none;
  width: 18px;
  height: 18px;
  filter: invert(44%) sepia(88%) saturate(1176%) hue-rotate(191deg) brightness(100%) contrast(101%); }

.svgsmall-blue {
  width: 18px;
  height: 18px;
  filter: invert(44%) sepia(96%) saturate(6317%) hue-rotate(229deg) brightness(100%) contrast(102%); }

.svgbig-blue {
  width: 50px;
  height: 50px;
  filter: invert(44%) sepia(96%) saturate(6317%) hue-rotate(229deg) brightness(100%) contrast(102%); }

.svgsmall-lightgreen {
  width: 18px;
  height: 18px;
  filter: invert(41%) sepia(98%) saturate(581%) hue-rotate(83deg) brightness(81%) contrast(80%); }

.svgsmall-red {
  width: 18px;
  height: 18px;
  filter: invert(19%) sepia(96%) saturate(6102%) hue-rotate(357deg) brightness(98%) contrast(117%); }

.svgbig-red {
  width: 50px;
  height: 50px;
  filter: invert(19%) sepia(96%) saturate(6102%) hue-rotate(357deg) brightness(98%) contrast(117%); }

.svgmedium-white {
  width: 24px;
  height: 24px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.svgbig-white {
  width: 50px;
  height: 50px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.svglarge-white {
  width: 80px;
  height: 80px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.svg-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes slideDown {
  0% {
    transform: translateY(-100%); }
  50% {
    transform: translateY(8%); }
  65% {
    transform: translateY(-4%); }
  80% {
    transform: translateY(4%); }
  95% {
    transform: translateY(-2%); }
  100% {
    transform: translateY(0%); } }

@keyframes slideUp {
  100% {
    transform: translateY(-100%); }
  0% {
    transform: translateY(0%); } }

*, *::before, *::after {
  box-sizing: border-box; }

#newsgallery {
  scroll-margin: 100px;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/BastosBG3.webp);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: white; }
  #newsgallery .galleryzone {
    padding: 0 2em 3em 2em; }
    @media screen and (min-width: 1024px) {
      #newsgallery .galleryzone {
        padding: 0 5em 3em 5em;
        width: 100%;
        max-width: 1024px; } }
    #newsgallery .galleryzone p {
      font-family: "Gideon Roman", sans-serif;
      background-color: rgba(34, 7, 7, 0.3);
      border-radius: 5px;
      font-size: 1rem;
      line-height: 1.4rem;
      text-align: justify;
      margin: 1rem auto;
      padding: 1em; }
      @media screen and (min-width: 1024px) {
        #newsgallery .galleryzone p {
          font-size: 1.5rem;
          line-height: 2rem; } }
    #newsgallery .galleryzone .gallery {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      gap: 2vmin;
      list-style-type: none; }
      #newsgallery .galleryzone .gallery li {
        height: 250px;
        flex-grow: 1; }
      #newsgallery .galleryzone .gallery img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: solid 1px white;
        object-fit: cover; }
      #newsgallery .galleryzone .gallery ::after {
        content: "";
        display: block;
        flex-grow: 10; }

#fullscreen {
  background-color: #1a1917; }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0 auto;
  gap: 1rem;
  scroll-margin: 100px;
  border-top: 2px solid gray; }
  @media screen and (min-width: 1024px) {
    .infos {
      flex-direction: row;
      max-width: 1024px; } }
  .infos .infoelement {
    margin: .5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (min-width: 1024px) {
      .infos .infoelement {
        align-items: start;
        width: 30%;
        height: 30svh; } }
    .infos .infoelement a {
      color: white;
      text-decoration: none; }
    .infos .infoelement__data {
      display: flex;
      flex-direction: column;
      gap: .7em; }
    .infos .infoelement__details {
      display: flex;
      flex-direction: column;
      gap: .7em; }
    .infos .infoelement h1, .infos .infoelement h2 {
      margin: 2.5rem 0 .5rem 0;
      font-size: 1.7rem;
      font-family: "Gideon Roman", sans-serif; }
      @media screen and (min-width: 1024px) {
        .infos .infoelement h1, .infos .infoelement h2 {
          margin: 2rem 0 2rem 0; } }
    .infos .infoelement h3 {
      margin: 1rem 0 2rem 0;
      font-size: 1.7rem;
      font-family: "Gideon Roman", sans-serif; }
      @media screen and (min-width: 1024px) {
        .infos .infoelement h3 {
          margin: 2rem 0 2rem 0; } }
    .infos .infoelement iframe {
      margin: 20px 0;
      width: 200px;
      height: 200px;
      border: solid darkgrey 3px;
      border-radius: 5px; }
    .infos .infoelement button {
      color: white;
      border-radius: 5px;
      width: 5rem;
      margin: 1em 0;
      padding: .5em;
      cursor: pointer; }
      .infos .infoelement button.active {
        background-color: darkgreen; }
      .infos .infoelement button.inactive {
        background-color: #a60606; }
    .infos .infoelement .feedback {
      color: green;
      height: 2rem;
      width: 90%;
      padding-top: 2rem;
      padding-bottom: 5rem; }
  .infos .contact {
    display: flex;
    flex-direction: column;
    width: 270px;
    gap: 7px; }
    .infos .contact label {
      font-weight: lighter; }
    .infos .contact input, .infos .contact textarea {
      margin: 0;
      padding: .5em 0;
      border: solid darkolivegreen 2px;
      border-radius: 5px;
      font-weight: lighter; }
    .infos .contact select {
      padding: .5em; }
    .infos .contact textarea {
      height: 150px;
      width: 270px;
      max-width: 270px;
      max-height: 200px;
      overflow-y: scroll; }
    .infos .contact label {
      margin: .3em 0; }
    .infos .contact ul {
      margin: .4em 0; }
    .infos .contact li {
      color: red; }

#categorygallery {
  scroll-margin: 100px;
  display: flex;
  background-image: url(../../images/BastosBG5.webp);
  background-position: center;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  justify-content: center; }
  #categorygallery .catzone {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: .8rem 0;
    padding-top: 1.5rem;
    border-top: solid white 2px; }
    @media screen and (min-width: 1024px) {
      #categorygallery .catzone {
        padding-top: 3rem;
        max-width: 1024px; } }
    #categorygallery .catzone__card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: .5rem;
      width: 45%; }
      @media screen and (min-width: 1024px) {
        #categorygallery .catzone__card {
          width: 32%; } }
      #categorygallery .catzone__card h2 {
        font-family: "Gideon Roman", sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
        padding: 1rem 0 1rem 0;
        line-height: 1.5rem; }
        @media screen and (min-width: 1024px) {
          #categorygallery .catzone__card h2 {
            font-size: 2.5rem; } }
      #categorygallery .catzone__card img {
        width: 90%;
        aspect-ratio: 1;
        border-radius: 5px;
        margin: .5rem; }
        @media screen and (min-width: 1024px) {
          #categorygallery .catzone__card img {
            width: 80%;
            aspect-ratio: 1; } }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth !important;
  box-sizing: border-box; }

body {
  background: #1a1917;
  font-family: "Arial, Helvetica", sans-serif;
  display: flex;
  flex-direction: column; }
  body .textright {
    text-align: right; }
  body .textleft {
    text-align: left; }
  body .hero-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: 100px;
    scroll-margin: 100px;
    min-height: 100vh;
    background-image: url(../images/BastosBG2.webp);
    background-position: center;
    background-size: cover;
    background-attachment: fixed; }
    @media screen and (min-width: 1024px) {
      body .hero-section {
        background-image: url(../images/BastosBG2.webp); } }
    body .hero-section .hero-title {
      padding: 1rem;
      margin-right: 1rem;
      color: white; }
      @media screen and (min-width: 1024px) {
        body .hero-section .hero-title {
          margin-right: 1rem;
          max-width: 1024px; } }
      body .hero-section .hero-title .htmltemplate {
        background-color: rgba(51, 51, 51, 0.4);
        border-radius: 5px;
        padding: 2rem; }
        body .hero-section .hero-title .htmltemplate :nth-child(odd) img {
          float: right;
          margin: 1rem; }
        body .hero-section .hero-title .htmltemplate :nth-child(odd) h1, body .hero-section .hero-title .htmltemplate :nth-child(odd) h2, body .hero-section .hero-title .htmltemplate :nth-child(odd) p {
          text-align: left; }
      body .hero-section .hero-title img {
        width: 50%;
        height: auto;
        float: left;
        margin: 1rem;
        border-radius: 5px; }
        @media screen and (min-width: 1024px) {
          body .hero-section .hero-title img {
            width: 300px;
            height: 300px; } }
      body .hero-section .hero-title h1 {
        font-family: "Cinzel Decorative", sans-serif;
        font-size: 2rem;
        font-weight: 600;
        padding: 2rem 0;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 1024px) {
          body .hero-section .hero-title h1 {
            font-size: 3rem; } }
      body .hero-section .hero-title h2 {
        font-family: "Gideon Roman", sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        padding-bottom: 2rem;
        line-height: 1.5rem;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 1024px) {
          body .hero-section .hero-title h2 {
            font-size: 2.5rem; } }
      body .hero-section .hero-title p {
        font-family: "Gideon Roman", sans-serif;
        font-size: 1rem;
        line-height: 1.4rem;
        text-align: right;
        padding: 1rem;
        width: 100%; }
        @media screen and (min-width: 1024px) {
          body .hero-section .hero-title p {
            font-size: 1.5rem;
            line-height: 2rem; } }
        body .hero-section .hero-title p a {
          color: white;
          font-size: 3rem; }
