@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Englebert&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Englebert&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Englebert&display=swap");
.bg-knifeleft {
  background-image: url("../images/background-left.jpg");
  background-size: cover;
  color: white; }

.bg-kniferight {
  background-image: url("../images/background-right.jpg");
  background-size: cover;
  color: white; }

.bg-enclume {
  background-image: url("../images/enclume.jpg");
  background-size: cover;
  color: white; }

.bg-thinknife {
  background-image: url("../images/home-knife.jpg");
  background-size: cover;
  color: white; }

.bgr-green {
  background: radial-gradient(circle, #020024 0%, #097936 100%, #00d4ff 100%);
  color: white; }

.bgr-black {
  background: linear-gradient(to bottom left, #959595 0%, #0D0D0D 50%, #010101 50%, #0A0A0A 53%, #4E4E4E 76%, #383838 87%, #1B1B1B 100%);
  color: white; }

.bgr-blue {
  background: radial-gradient(circle, #020024 0%, #090979 50%, #00d4ff 100%);
  color: white; }

/*
  How to compute the filter value ???
  Go to thi site: https://codepen.io/sosuke/pen/Pjoqqp
  Enter your color code.
  To know your color code go here : https://htmlcolorcodes.com/
*/
.svgsmall-lightblue {
  text-decoration: none;
  width: 18px;
  height: 18px;
  filter: invert(44%) sepia(88%) saturate(1176%) hue-rotate(191deg) brightness(100%) contrast(101%); }

.svgsmall-blue {
  width: 18px;
  height: 18px;
  filter: invert(44%) sepia(96%) saturate(6317%) hue-rotate(229deg) brightness(100%) contrast(102%); }

.svgbig-blue {
  width: 50px;
  height: 50px;
  filter: invert(44%) sepia(96%) saturate(6317%) hue-rotate(229deg) brightness(100%) contrast(102%); }

.svgsmall-lightgreen {
  width: 18px;
  height: 18px;
  filter: invert(41%) sepia(98%) saturate(581%) hue-rotate(83deg) brightness(81%) contrast(80%); }

.svgsmall-red {
  width: 18px;
  height: 18px;
  filter: invert(19%) sepia(96%) saturate(6102%) hue-rotate(357deg) brightness(98%) contrast(117%); }

.svgbig-red {
  width: 50px;
  height: 50px;
  filter: invert(19%) sepia(96%) saturate(6102%) hue-rotate(357deg) brightness(98%) contrast(117%); }

.svgmedium-white {
  width: 24px;
  height: 24px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.svgbig-white {
  width: 50px;
  height: 50px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.allnews {
  scroll-margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/home-knife.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: white; }
  .allnews h1 {
    font-family: "Cinzel Decorative", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2rem 0;
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .allnews h1 {
        font-size: 3rem; } }
  .allnews h2 {
    font-family: "Englebert", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 2rem;
    line-height: 1.5rem;
    display: inline-block;
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .allnews h2 {
        font-size: 2rem; } }
  .allnews p {
    padding: 1em;
    font-size: 1rem;
    line-height: 1.4rem;
    text-align: right;
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .allnews p {
        font-size: 1.5rem;
        line-height: 2rem; } }
  .allnews .news {
    width: 80%;
    margin-bottom: 2.5rem; }
    @media screen and (min-width: 1024px) {
      .allnews .news {
        max-width: 1024px; } }
    .allnews .news p {
      text-align: left;
      font-family: "Indie Flower", sans-serif; }
    .allnews .news img {
      margin: 20px;
      width: 300px;
      height: 300px;
      border: solid darkgrey 3px;
      border-radius: 10px; }
    .allnews .news:nth-child(even) h1, .allnews .news:nth-child(even) h2 {
      text-align: left; }
    .allnews .news:nth-child(even) img {
      float: left; }
    .allnews .news:nth-child(odd) h1, .allnews .news:nth-child(odd) h2 {
      text-align: right; }
    .allnews .news:nth-child(odd) img {
      float: right; }

.topmenu {
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  align-items: center;
  background: radial-gradient(circle, #020024 0%, #097936 100%, #00d4ff 100%); }
  .topmenu .logozone {
    width: 40%; }
    .topmenu .logozone .logo {
      width: 40px; }
    .topmenu .logozone .debug {
      margin-top: .4rem;
      color: white;
      font-size: .7rem; }
  .topmenu a {
    color: white; }
  .topmenu .nav-links ul {
    display: flex;
    justify-content: center;
    gap: 20px; }
    .topmenu .nav-links ul ul {
      display: flex;
      gap: 2px; }
    .topmenu .nav-links ul li {
      color: white; }
      .topmenu .nav-links ul li a {
        font-size: 1.2rem;
        text-decoration: none; }
        .topmenu .nav-links ul li a::after {
          content: '';
          width: 0%;
          height: 2px;
          background: white;
          display: block;
          margin: auto;
          transition: 0.5s; }
        .topmenu .nav-links ul li a:hover {
          color: white; }
          .topmenu .nav-links ul li a:hover::after {
            width: 100%; }

.footer {
  position: fixed;
  display: none;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: radial-gradient(circle, #020024 0%, #097936 100%, #00d4ff 100%); }
  .footer .menu-hamburger {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 40px; }

.svg-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

/* --------------------  R E S P O N S I V E --------------------*/
@media screen and (max-width: 1024px) {
  .topmenu {
    padding: 0; }
    .topmenu .logozone {
      width: 60%; }
      .topmenu .logozone .logo {
        position: absolute;
        top: 20px;
        left: 20px; }
      .topmenu .logozone .debug {
        margin-left: 6rem;
        margin-top: 0; }
  .footer {
    display: block; }
    .footer .menu-hamburger {
      display: block; }
  .nav-links {
    display: flex;
    top: 0;
    left: 0;
    position: absolute;
    backdrop-filter: blur(4px);
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-left: -100%;
    transition: all .6s ease; }
    .nav-links.mobile-menu {
      margin-left: 0; }
    .nav-links ul {
      display: flex;
      flex-direction: column;
      gap: 35px;
      align-items: center;
      background: radial-gradient(circle, #020024 0%, #097936 100%, #00d4ff 100%);
      padding: 20px;
      border-radius: 10px;
      min-width: fit-content; }
      .nav-links ul li {
        font-size: 1.2rem; }
      .nav-links ul ul {
        flex-direction: row;
        gap: 2px;
        background: transparent; } }

.cards {
  scroll-margin: 100px;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/tools.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: white; }
  .cards h1 {
    font-family: "Cinzel Decorative", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2rem 0;
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .cards h1 {
        font-size: 3rem; } }
  .cards h2 {
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 2rem;
    line-height: 1.5rem;
    display: inline-block;
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .cards h2 {
        font-size: 2rem; } }
  .cards p {
    font-family: "Indie Flower", sans-serif;
    font-size: 1rem;
    line-height: 1.4rem;
    text-align: left;
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .cards p {
        font-size: 1.5rem;
        line-height: 2rem; } }
  .cards .cards-header {
    width: 80%;
    margin: 2rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid gray; }
    @media screen and (min-width: 1024px) {
      .cards .cards-header {
        width: 60%;
        max-width: 1024px; } }
  .cards .cardframe {
    width: 90%;
    height: auto;
    padding: .5rem;
    transition: all .8s ease-in; }
    @media screen and (min-width: 1024px) {
      .cards .cardframe {
        padding: 2rem;
        width: 60%;
        max-width: 1024px; } }
    .cards .cardframe__zoom {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      background: radial-gradient(circle, #020024 0%, #097936 100%, #00d4ff 100%);
      color: white;
      justify-content: center;
      align-items: center;
      border-radius: 10px; }
    .cards .cardframe__image img {
      height: 120px;
      width: 120px;
      border: solid darkgrey 3px;
      border-radius: 50%;
      float: right;
      margin: .7rem; }
      @media screen and (min-width: 1024px) {
        .cards .cardframe__image img {
          height: 300px;
          width: 300px; } }
    .cards .cardframe__title {
      padding: 20px 10px;
      font-size: 3rem;
      font-family: "Englebert", sans-serif; }
    .cards .cardframe__text {
      line-height: 1.3rem;
      padding: .5rem;
      background-color: rgba(34, 7, 7, 0.3); }
      @media screen and (min-width: 1024px) {
        .cards .cardframe__text {
          padding: 2rem; }
          .cards .cardframe__text:hover {
            box-shadow: 0px 0px 11px 5px #cec5c5;
            transition: all .5s  ease;
            padding: 4rem; } }

/* --------------------  R E S P O N S I V E --------------------*/
@media screen and (max-width: 850px) {
  #globalfullscreen .cardframe__zoom {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: radial-gradient(circle, #020024 0%, #097936 100%, #00d4ff 100%);
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px; }
  #globalfullscreen .cardframe__title {
    margin-top: 2rem; }
  #globalfullscreen .cardframe__text {
    display: none; } }

.bg-knifeleft {
  background-image: url("../images/background-left.jpg");
  background-size: cover;
  color: white; }

.bg-kniferight {
  background-image: url("../images/background-right.jpg");
  background-size: cover;
  color: white; }

.bg-enclume {
  background-image: url("../images/enclume.jpg");
  background-size: cover;
  color: white; }

.bg-thinknife {
  background-image: url("../images/home-knife.jpg");
  background-size: cover;
  color: white; }

.bgr-green {
  background: radial-gradient(circle, #020024 0%, #097936 100%, #00d4ff 100%);
  color: white; }

.bgr-black {
  background: linear-gradient(to bottom left, #959595 0%, #0D0D0D 50%, #010101 50%, #0A0A0A 53%, #4E4E4E 76%, #383838 87%, #1B1B1B 100%);
  color: white; }

.bgr-blue {
  background: radial-gradient(circle, #020024 0%, #090979 50%, #00d4ff 100%);
  color: white; }

/*
  How to compute the filter value ???
  Go to thi site: https://codepen.io/sosuke/pen/Pjoqqp
  Enter your color code.
  To know your color code go here : https://htmlcolorcodes.com/
*/
.svgsmall-lightblue {
  text-decoration: none;
  width: 18px;
  height: 18px;
  filter: invert(44%) sepia(88%) saturate(1176%) hue-rotate(191deg) brightness(100%) contrast(101%); }

.svgsmall-blue {
  width: 18px;
  height: 18px;
  filter: invert(44%) sepia(96%) saturate(6317%) hue-rotate(229deg) brightness(100%) contrast(102%); }

.svgbig-blue {
  width: 50px;
  height: 50px;
  filter: invert(44%) sepia(96%) saturate(6317%) hue-rotate(229deg) brightness(100%) contrast(102%); }

.svgsmall-lightgreen {
  width: 18px;
  height: 18px;
  filter: invert(41%) sepia(98%) saturate(581%) hue-rotate(83deg) brightness(81%) contrast(80%); }

.svgsmall-red {
  width: 18px;
  height: 18px;
  filter: invert(19%) sepia(96%) saturate(6102%) hue-rotate(357deg) brightness(98%) contrast(117%); }

.svgbig-red {
  width: 50px;
  height: 50px;
  filter: invert(19%) sepia(96%) saturate(6102%) hue-rotate(357deg) brightness(98%) contrast(117%); }

.svgmedium-white {
  width: 24px;
  height: 24px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.svgbig-white {
  width: 50px;
  height: 50px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

*, *::before, *::after {
  box-sizing: border-box; }

#thegallery {
  scroll-margin: 100px;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/home4.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: white; }
  #thegallery .galleryzone {
    padding-bottom: 3em;
    padding: 0 2em 3em 2em; }
    @media screen and (min-width: 1024px) {
      #thegallery .galleryzone {
        padding: 0 5em 3em 5em;
        width: 100%;
        max-width: 1024px; } }
    #thegallery .galleryzone p {
      font-family: "Indie Flower", sans-serif;
      background-color: rgba(34, 7, 7, 0.3);
      border-radius: 10px;
      font-size: 1rem;
      line-height: 1.4rem;
      text-align: justify;
      margin: 1rem auto;
      padding: 1em; }
      @media screen and (min-width: 1024px) {
        #thegallery .galleryzone p {
          font-size: 1.5rem;
          line-height: 2rem; } }
    #thegallery .galleryzone .gallery {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      gap: 2vmin;
      list-style-type: none; }
      #thegallery .galleryzone .gallery li {
        height: 250px;
        flex-grow: 1; }
      #thegallery .galleryzone .gallery img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: solid 1px white;
        object-fit: cover; }
      #thegallery .galleryzone .gallery ::after {
        content: "";
        display: block;
        flex-grow: 10; }

#fullscreen {
  background-color: #1a1917; }

.zoomon {
  position: absolute;
  height: 90%;
  width: 90%;
  border: 1px red solid;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-name: fadein; }
  .zoomon h2 {
    size: 1rem;
    position: absolute;
    padding: .8rem;
    color: white;
    background-color: darkgrey;
    top: 5%;
    left: 5%;
    opacity: 0.5; }

.zoomoff {
  display: none; }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.bg-knifeleft {
  background-image: url("../images/background-left.jpg");
  background-size: cover;
  color: white; }

.bg-kniferight {
  background-image: url("../images/background-right.jpg");
  background-size: cover;
  color: white; }

.bg-enclume {
  background-image: url("../images/enclume.jpg");
  background-size: cover;
  color: white; }

.bg-thinknife {
  background-image: url("../images/home-knife.jpg");
  background-size: cover;
  color: white; }

.bgr-green {
  background: radial-gradient(circle, #020024 0%, #097936 100%, #00d4ff 100%);
  color: white; }

.bgr-black {
  background: linear-gradient(to bottom left, #959595 0%, #0D0D0D 50%, #010101 50%, #0A0A0A 53%, #4E4E4E 76%, #383838 87%, #1B1B1B 100%);
  color: white; }

.bgr-blue {
  background: radial-gradient(circle, #020024 0%, #090979 50%, #00d4ff 100%);
  color: white; }

/*
  How to compute the filter value ???
  Go to thi site: https://codepen.io/sosuke/pen/Pjoqqp
  Enter your color code.
  To know your color code go here : https://htmlcolorcodes.com/
*/
.svgsmall-lightblue {
  text-decoration: none;
  width: 18px;
  height: 18px;
  filter: invert(44%) sepia(88%) saturate(1176%) hue-rotate(191deg) brightness(100%) contrast(101%); }

.svgsmall-blue {
  width: 18px;
  height: 18px;
  filter: invert(44%) sepia(96%) saturate(6317%) hue-rotate(229deg) brightness(100%) contrast(102%); }

.svgbig-blue {
  width: 50px;
  height: 50px;
  filter: invert(44%) sepia(96%) saturate(6317%) hue-rotate(229deg) brightness(100%) contrast(102%); }

.svgsmall-lightgreen {
  width: 18px;
  height: 18px;
  filter: invert(41%) sepia(98%) saturate(581%) hue-rotate(83deg) brightness(81%) contrast(80%); }

.svgsmall-red {
  width: 18px;
  height: 18px;
  filter: invert(19%) sepia(96%) saturate(6102%) hue-rotate(357deg) brightness(98%) contrast(117%); }

.svgbig-red {
  width: 50px;
  height: 50px;
  filter: invert(19%) sepia(96%) saturate(6102%) hue-rotate(357deg) brightness(98%) contrast(117%); }

.svgmedium-white {
  width: 24px;
  height: 24px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.svgbig-white {
  width: 50px;
  height: 50px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.carousel {
  position: relative;
  margin: 0 auto; }
  .carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .carousel .carousel-button {
    position: absolute;
    background: none;
    border: none;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, 0.1);
    width: 4rem; }
    .carousel .carousel-button img {
      size: 3rem; }
    .carousel .carousel-button:hover, .carousel .carousel-button:focus {
      color: white;
      background-color: rgba(0, 0, 0, 0.2); }
    .carousel .carousel-button:focus {
      outline: 1px solid black; }
    .carousel .carousel-button.prev {
      left: 1rem; }
    .carousel .carousel-button.next {
      right: 1rem; }
  .carousel .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 2rem;
    list-style: none; }
    .carousel .carousel-indicators-button {
      opacity: .5;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      margin-left: 3px;
      margin-right: 3px;
      cursor: pointer; }
      .carousel .carousel-indicators-button.active {
        opacity: 1;
        background-color: green; }
  .carousel .slide {
    margin: 1rem 0;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 1s opacity ease-in-out; }
    .carousel .slide.active {
      opacity: 1; }
    .carousel .slide > img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 10px; }

#fullscreen {
  background-color: #1a1917; }

.sliderzoomon {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-name: image-fade; }
  .sliderzoomon h2 {
    size: 1rem;
    position: absolute;
    padding: .8rem;
    color: white;
    background-color: darkgrey;
    top: 5%;
    left: 5%;
    border-radius: 20px;
    opacity: 0.4; }

.sliderzoomoff {
  display: none; }

@keyframes image-fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Screen less than smallsize ? */
@media screen and (max-width: 850px) {
  .carousel {
    width: 300px;
    height: 300px;
    margin: auto; }
  .sliderimage {
    max-width: 850px; } }

/* Screen between smallsize and bigsize ? */
@media screen and (min-width: 850px) and (max-width: 1920px) {
  .carousel {
    width: 400px;
    height: 400px;
    margin: auto; }
  .sliderimage {
    width: 100%;
    height: auto;
    max-width: 1500px; } }

/* Screen greater than bigsize ? */
@media screen and (min-width: 1920px) {
  .carousel {
    width: 500px;
    height: 500px;
    margin: auto; }
  .sliderimage {
    max-width: 1920px; } }

.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  padding-top: 2rem;
  color: white;
  gap: 1rem;
  scroll-margin: 100px;
  border-top: 2px solid gray; }
  @media screen and (min-width: 1024px) {
    .infos {
      flex-direction: row;
      margin: 0 auto;
      max-width: 1024px; } }
  .infos .infoelement {
    margin: .5rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (min-width: 1024px) {
      .infos .infoelement {
        align-items: start;
        width: 30%;
        height: 30svh; } }
    .infos .infoelement a {
      color: white;
      text-decoration: none; }
    .infos .infoelement__data {
      display: flex;
      align-items: center; }
    .infos .infoelement__details {
      display: flex;
      flex-direction: column;
      gap: .7em; }
    .infos .infoelement h1, .infos .infoelement h2, .infos .infoelement h3, .infos .infoelement ul {
      margin: 1rem 0 2rem 0;
      font-size: 1.7rem;
      font-family: "Acme, sans-serif"; }
    .infos .infoelement iframe {
      margin: 20px 0;
      width: 200px;
      height: 200px;
      border: solid darkgrey 3px;
      border-radius: 10px; }
    .infos .infoelement button {
      color: white;
      border-radius: .25em;
      width: 5rem;
      margin: 1em 0;
      padding: .5em;
      cursor: pointer; }
      .infos .infoelement button.active {
        background-color: darkgreen; }
      .infos .infoelement button.inactive {
        background-color: lightcoral; }
  .infos .contact {
    display: flex;
    flex-direction: column;
    width: 270px;
    gap: 7px; }
    .infos .contact label {
      font-weight: lighter; }
    .infos .contact input, .infos .contact textarea {
      margin: 0;
      padding: .5em 0;
      border: solid darkolivegreen 2px;
      border-radius: .25em;
      font-weight: lighter; }
    .infos .contact select {
      padding: .5em; }
    .infos .contact textarea {
      height: 150px;
      width: 270px;
      max-width: 270px;
      max-height: 200px;
      overflow-y: scroll; }
    .infos .contact label {
      margin: .3em 0; }
    .infos .contact ul {
      margin: .4em 0; }
    .infos .contact li {
      color: red; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth !important;
  box-sizing: border-box; }

body {
  background: #1a1917;
  font-family: "Arial, Helvetica", sans-serif;
  display: flex;
  flex-direction: column; }
  body .hero-section {
    width: 100%;
    margin-top: 100px;
    scroll-margin: 100px;
    min-height: 100vh;
    background-image: url(../images/SHEFFIELD-2.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    @media screen and (min-width: 1024px) {
      body .hero-section {
        background-image: url(../images/homepageimages/enclume.jpg); } }
    body .hero-section .hero-title {
      width: 80%;
      padding: 1rem;
      margin-right: 1rem;
      color: white;
      overflow: hidden; }
      @media screen and (min-width: 1024px) {
        body .hero-section .hero-title {
          width: 60%;
          margin-right: 2rem;
          max-width: 1024px; } }
      body .hero-section .hero-title h1 {
        font-family: "Cinzel Decorative", sans-serif;
        font-size: 2rem;
        font-weight: 600;
        padding: 2rem 0;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 1024px) {
          body .hero-section .hero-title h1 {
            text-align: right;
            font-size: 3rem; } }
      body .hero-section .hero-title h2 {
        font-family: "Englebert", sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        padding-bottom: 2rem;
        line-height: 1.5rem;
        text-align: right;
        display: inline-block;
        width: 100%; }
        @media screen and (min-width: 1024px) {
          body .hero-section .hero-title h2 {
            font-size: 2.5rem; } }
      body .hero-section .hero-title p {
        font-family: "Indie Flower", sans-serif;
        font-size: 1.5rem;
        line-height: 1.4rem;
        text-align: right;
        display: inline-block;
        padding: 1rem;
        background-color: rgba(34, 7, 7, 0.3);
        border-radius: 10px;
        width: 100%; }
        @media screen and (min-width: 1024px) {
          body .hero-section .hero-title p {
            font-size: 2rem;
            line-height: 2rem; } }

#globalfullscreen {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
  width: 100%;
  height: 100%; }
