@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button, input, select {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

img, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

body {
  background: #f1f1f1;
  font-family: "Acme", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  position: relative; }

.contenu {
  flex: 1 0 auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

section {
  width: 100%;
  position: relative; }

.full-screen-container {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/loginpage/workshop.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center; }
  .full-screen-container .login-container {
    background-color: #00141fb3;
    box-shadow: 0 0 15px 0 #00141fb3;
    padding: 40px 30px;
    width: 80%;
    max-width: 600px;
    border-radius: 20px; }
    .full-screen-container .login-container .login-title {
      color: #f0eee3;
      text-align: center;
      font-family: "Cinzel Decorative", sans-serif;
      font-size: 2rem;
      font-weight: normal; }
    .full-screen-container .login-container .form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 40px; }
      .full-screen-container .login-container .form .input-group {
        display: flex;
        flex-direction: column;
        gap: 7px; }
        .full-screen-container .login-container .form .input-group.success input {
          box-shadow: 0 0 0 1px #66cc33; }
        .full-screen-container .login-container .form .input-group.success .message {
          display: block;
          color: #66cc33; }
        .full-screen-container .login-container .form .input-group.error input {
          box-shadow: 0 0 0 1px #cc3333; }
        .full-screen-container .login-container .form .input-group.error .message {
          display: block;
          color: #cc3333; }
        .full-screen-container .login-container .form .input-group label {
          color: #f1f1f1;
          font-weight: lighter; }
        .full-screen-container .login-container .form .input-group input {
          font-size: 1.25rem;
          padding: .5em;
          background-color: #d1f0ff4d;
          border: none;
          outline: none;
          border-radius: .25em;
          color: #f1f1f1;
          font-weight: lighter; }
          .full-screen-container .login-container .form .input-group input:focus {
            box-shadow: 0 0 0 1px #00aaff; }
        .full-screen-container .login-container .form .input-group .message {
          font-family: sans-serif;
          display: none;
          font-size: .75rem; }
      .full-screen-container .login-container .form .login-button {
        padding: .5em 1em;
        font-size: 1.5rem;
        font-family: "Acme", sans-serif;
        letter-spacing: 2.3px;
        font-weight: lighter;
        color: #f1f1f1;
        background-color: #00aaff40;
        border: 1px solid #00aaff;
        border-radius: .25em;
        outline: none;
        cursor: pointer; }
        .full-screen-container .login-container .form .login-button:hover {
          background-color: #00aaff66; }
        .full-screen-container .login-container .form .login-button:focus {
          background-color: #00aaff66; }
    .full-screen-container .login-container .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 40px; }
      .full-screen-container .login-container .navigation a {
        text-decoration: none;
        color: #f1f1f1;
        font-size: 1.25rem;
        padding: 0 15px; }
