.feedback {
  color: red;
  border: 1px solid blue;
  border-radius: 5px; }

.ylabel {
  font-weight: bold; }

button.ylink.disabled {
  font-weight: bold;
  font-size: 1.2rem; }

button.ylink.active {
  font-weight: bold;
  font-size: 1.4rem; }

button.ylink:hover {
  color: red; }

.imagesmall {
  width: 8rem;
  height: 8rem;
  max-width: 8rem;
  max-height: 8rem;
  border-radius: 50%; }

.textsmall {
  font-size: 0.5rem; }

.textverysmall {
  font-size: 0.3rem; }

legend {
  font-weight: bold; }

.ysuccess {
  color: green; }

.yerror {
  color: red; }

.yslider {
  position: relative;
  width: 60%;
  aspect-ratio: 1/1;
  margin: 0 auto; }

.yslidescontainer {
  background-color: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: 10px;
  border: 2px red solid; }

.yslides {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  width: auto;
  height: 100%;
  transition: transform 250ms ease-in; }

.yslide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  object-fit: cover; }

.yslideimage {
  width: 100%;
  height: 100%; }
