#theslider {
  width: 80%;
  margin: auto; }

#sliderzone {
  position: relative;
  margin: 0 auto; }
  #sliderzone .sliderimage {
    width: 100%;
    height: auto;
    border-radius: 10px; }

.sliderpaused {
  font-size: 1.25rem;
  font-weight: bold;
  color: darkgray; }

.sliderrunning {
  font-size: 1.25rem;
  color: darkgray; }

#fullscreen {
  background-color: white; }

.sliderzoomon {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-name: image-fade; }
  .sliderzoomon h2 {
    size: 1rem;
    position: absolute;
    padding: .8rem;
    color: white;
    background-color: darkgrey;
    top: 5%;
    left: 5%;
    border-radius: 20px;
    opacity: 0.4; }

.sliderzoomoff {
  display: none; }

@keyframes image-fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Screen less than smallsize ? */
@media screen and (max-width: 1024px) {
  #theslider {
    width: calc(100vh/3);
    margin: auto; }
  .sliderimage {
    max-width: 1024px; } }

/* Screen between smallsize and bigsize ? */
@media screen and (min-width: 1024px) and (max-width: 1920px) {
  #theslider {
    width: calc(100vh/2);
    margin: auto; }
  .sliderimage {
    max-width: 1500px; } }

/* Screen greater than bigsize ? */
@media screen and (min-width: 1920px) {
  #theslider {
    width: calc(100vh/2);
    margin: auto; }
  .sliderimage {
    max-width: 1920px; } }

.sliderframe {
  margin: auto;
  border: 1px solid red;
  border-radius: 10px;
  width: calc(100vh/3); }

.sliderarea {
  position: relative;
  margin: 0 auto; }
  .sliderarea .sliderimage {
    width: 100%;
    height: auto;
    border-radius: 10px; }

#fullscreen {
  background-color: white;
  border: 2px green solid; }

.zoomon {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-name: fadein; }
  .zoomon h2 {
    size: 1rem;
    position: absolute;
    padding: .8rem;
    color: white;
    background-color: darkgrey;
    top: 5%;
    left: 5%;
    border-radius: 20px;
    opacity: 0.5; }

.zoomoff {
  display: none; }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.feedback {
  color: red;
  border: 1px solid blue;
  border-radius: 5px; }

.ylabel {
  font-weight: bold; }

button.ylink.disabled {
  font-weight: bold;
  font-size: 1.2rem; }

button.ylink.active {
  font-weight: bold;
  font-size: 1.4rem; }

button.ylink:hover {
  color: red; }

#loglist li:nth-child(odd) {
  background-color: lightgray; }

#commandzone a {
  text-decoration: none; }

.paginationcommands {
  border: 1px solid lightgray;
  border-radius: 3px;
  display: flex; }
  .paginationcommands div {
    margin: auto;
    text-align: center; }
  .paginationcommands img {
    width: 40px;
    height: 40px; }

/*
  How to compute the filter value ???
  Go to thi site: https://codepen.io/sosuke/pen/Pjoqqp
  Enter your color code.
  To know your color code go here : https://htmlcolorcodes.com/
*/
.svgsmall-lightblue {
  text-decoration: none;
  width: 18px;
  height: 18px;
  filter: invert(44%) sepia(88%) saturate(1176%) hue-rotate(191deg) brightness(100%) contrast(101%); }

.svgsmall-blue {
  width: 18px;
  height: 18px;
  filter: invert(44%) sepia(96%) saturate(6317%) hue-rotate(229deg) brightness(100%) contrast(102%); }

.svgsmall-lightgreen {
  width: 18px;
  height: 18px;
  filter: invert(41%) sepia(98%) saturate(581%) hue-rotate(83deg) brightness(81%) contrast(80%); }

.logs {
  padding-left: 0;
  padding-right: 0; }

.imagesmall {
  width: 8rem;
  height: 8rem;
  max-width: 8rem;
  max-height: 8rem;
  border-radius: 50%; }

.textsmall {
  font-size: 0.7rem; }

.textverysmall {
  font-size: 0.5rem; }

legend {
  font-weight: bold; }

.ysuccess {
  color: green; }

.yerror {
  color: red; }

.ywarning {
  color: orangered; }

.ylistheader {
  background-color: darkgray;
  color: white; }

.msgdetails {
  font-style: italic; }
  .msgdetails .label {
    font-weight: bold; }

.on {
  color: green; }

.off {
  color: red; }

.errordate {
  border: red 1px solid; }

.noerrordate {
  border: none; }
