@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap");
/*
  Special section for SVGs

  How to compute the filter value ???
  Go to thi site: https://codepen.io/sosuke/pen/Pjoqqp
  Enter your color code.
  To know your color code go here : https://htmlcolorcodes.com/
*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap");
.svgsmall-lightblue {
  text-decoration: none;
  width: 18px;
  height: 18px;
  filter: invert(44%) sepia(88%) saturate(1176%) hue-rotate(191deg) brightness(100%) contrast(101%); }

.svgsmall-blue {
  width: 18px;
  height: 18px;
  filter: invert(44%) sepia(96%) saturate(6317%) hue-rotate(229deg) brightness(100%) contrast(102%); }

.svgbig-blue {
  width: 50px;
  height: 50px;
  filter: invert(44%) sepia(96%) saturate(6317%) hue-rotate(229deg) brightness(100%) contrast(102%); }

.svgsmall-lightgreen {
  width: 18px;
  height: 18px;
  filter: invert(41%) sepia(98%) saturate(581%) hue-rotate(83deg) brightness(81%) contrast(80%); }

.svgsmall-red {
  width: 18px;
  height: 18px;
  filter: invert(19%) sepia(96%) saturate(6102%) hue-rotate(357deg) brightness(98%) contrast(117%); }

.svgbig-red {
  width: 50px;
  height: 50px;
  filter: invert(19%) sepia(96%) saturate(6102%) hue-rotate(357deg) brightness(98%) contrast(117%); }

.svgmedium-white {
  width: 24px;
  height: 24px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.svgbig-white {
  width: 50px;
  height: 50px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.svglarge-white {
  width: 80px;
  height: 80px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.svg-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes slideDown {
  0% {
    transform: translateY(-100%); }
  50% {
    transform: translateY(-50%); }
  65% {
    transform: translateY(-20%); }
  100% {
    transform: translateY(0%); } }

@keyframes flashDown {
  0% {
    transform: translateY(-100%); }
  20% {
    transform: translateX(10%, -70%); }
  50% {
    transform: translateX(25%, -50%); }
  75% {
    transform: translate(40%, 50%); }
  100% {
    transform: translate(50%, 50%); } }

@keyframes flashUp {
  0% {
    transform: translateY(200%); }
  20% {
    transform: translateX(10%, 90%); }
  50% {
    transform: translateX(25%, 70%); }
  75% {
    transform: translate(40%, 50%); }
  100% {
    transform: translate(50%, 50%); } }

@keyframes flashUpClockwise {
  0% {
    transform: translateY(200%); }
  20% {
    transform: translateX(10%, 90%) rotate(100deg); }
  50% {
    transform: translateX(25%, 70%) rotate(180deg); }
  75% {
    transform: translate(40%, 50%) rotate(270deg); }
  100% {
    transform: translate(50%, 50%) rotate(360deg); } }

@keyframes flashUpCounterClockwise {
  0% {
    transform: translateY(200%); }
  20% {
    transform: translateX(10%, 90%) rotate(-100deg); }
  50% {
    transform: translateX(25%, 70%) rotate(-180deg); }
  75% {
    transform: translate(40%, 50%) rotate(-270deg); }
  100% {
    transform: translate(50%, 50%) rotate(-360deg); } }

@keyframes slideUp {
  100% {
    transform: translateY(-100%); }
  0% {
    transform: translateY(0%); } }

/*
  Special section for SVGs

  How to compute the filter value ???
  Go to thi site: https://codepen.io/sosuke/pen/Pjoqqp
  Enter your color code.
  To know your color code go here : https://htmlcolorcodes.com/
*/
.svgsmall-lightblue {
  text-decoration: none;
  width: 18px;
  height: 18px;
  filter: invert(44%) sepia(88%) saturate(1176%) hue-rotate(191deg) brightness(100%) contrast(101%); }

.svgsmall-blue {
  width: 18px;
  height: 18px;
  filter: invert(44%) sepia(96%) saturate(6317%) hue-rotate(229deg) brightness(100%) contrast(102%); }

.svgbig-blue {
  width: 50px;
  height: 50px;
  filter: invert(44%) sepia(96%) saturate(6317%) hue-rotate(229deg) brightness(100%) contrast(102%); }

.svgsmall-lightgreen {
  width: 18px;
  height: 18px;
  filter: invert(41%) sepia(98%) saturate(581%) hue-rotate(83deg) brightness(81%) contrast(80%); }

.svgsmall-red {
  width: 18px;
  height: 18px;
  filter: invert(19%) sepia(96%) saturate(6102%) hue-rotate(357deg) brightness(98%) contrast(117%); }

.svgbig-red {
  width: 50px;
  height: 50px;
  filter: invert(19%) sepia(96%) saturate(6102%) hue-rotate(357deg) brightness(98%) contrast(117%); }

.svgmedium-white {
  width: 24px;
  height: 24px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.svgbig-white {
  width: 50px;
  height: 50px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.svglarge-white {
  width: 80px;
  height: 80px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.svg-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes slideDown {
  0% {
    transform: translateY(-100%); }
  50% {
    transform: translateY(-50%); }
  65% {
    transform: translateY(-20%); }
  100% {
    transform: translateY(0%); } }

@keyframes flashDown {
  0% {
    transform: translateY(-100%); }
  20% {
    transform: translateX(10%, -70%); }
  50% {
    transform: translateX(25%, -50%); }
  75% {
    transform: translate(40%, 50%); }
  100% {
    transform: translate(50%, 50%); } }

@keyframes flashUp {
  0% {
    transform: translateY(200%); }
  20% {
    transform: translateX(10%, 90%); }
  50% {
    transform: translateX(25%, 70%); }
  75% {
    transform: translate(40%, 50%); }
  100% {
    transform: translate(50%, 50%); } }

@keyframes flashUpClockwise {
  0% {
    transform: translateY(200%); }
  20% {
    transform: translateX(10%, 90%) rotate(100deg); }
  50% {
    transform: translateX(25%, 70%) rotate(180deg); }
  75% {
    transform: translate(40%, 50%) rotate(270deg); }
  100% {
    transform: translate(50%, 50%) rotate(360deg); } }

@keyframes flashUpCounterClockwise {
  0% {
    transform: translateY(200%); }
  20% {
    transform: translateX(10%, 90%) rotate(-100deg); }
  50% {
    transform: translateX(25%, 70%) rotate(-180deg); }
  75% {
    transform: translate(40%, 50%) rotate(-270deg); }
  100% {
    transform: translate(50%, 50%) rotate(-360deg); } }

@keyframes slideUp {
  100% {
    transform: translateY(-100%); }
  0% {
    transform: translateY(0%); } }

.slider {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px);
  width: 100vw;
  height: 100dvh;
  color: white; }
  .slider h2 {
    font-family: "Gideon Roman", sans-serif; }
  .slider__box {
    display: grid;
    gap: .5rem;
    grid-template-columns: 1fr fit-content(80%) 1fr;
    grid-template-rows: 10% 70% 8% 5%;
    grid-template-areas: '. kdesc .' '. img .' '. close .' 'left indic right';
    width: 80vw;
    height: 90dvh;
    max-width: 1024px;
    align-items: center;
    justify-content: center; }
    @media screen and (min-width: 1024px) {
      .slider__box {
        grid-template-areas: '. kdesc .' 'left img right' '. close .' '. indic .'; } }
    .slider__box__action {
      cursor: pointer; }
      .slider__box__action img {
        width: 35px; }
      @media screen and (min-width: 1024px) {
        .slider__box__action img {
          width: 50px; } }
    .slider__box__slides {
      display: contents;
      margin: 1rem 0;
      position: absolute;
      inset: 0; }
      .slider__box__slides__img {
        display: flex;
        opacity: 0;
        transition: 1s opacity ease-in-out; }
        .slider__box__slides__img.active {
          opacity: 1; }
    .slider__box__indicators {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2rem;
      grid-area: indic; }
      .slider__box__indicators__flags {
        opacity: .6;
        width: 30px;
        height: 10px;
        border-radius: 5px;
        margin-left: 3px;
        margin-right: 3px;
        cursor: pointer; }
        @media screen and (min-width: 1024px) {
          .slider__box__indicators__flags {
            height: 10px; } }
        .slider__box__indicators__flags.active {
          opacity: 1;
          background-color: darkolivegreen; }

.prev {
  grid-area: left;
  justify-self: right; }

.next {
  grid-area: right;
  justify-self: left; }

.img {
  grid-area: img;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover; }

.kdesc {
  grid-area: kdesc;
  justify-self: center; }

.close {
  grid-area: close;
  justify-self: center; }

.zoomer {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 100vw;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-name: fadein;
  overflow: hidden;
  background-color: #1a1917; }
  .zoomer__box {
    display: grid;
    gap: .5rem;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas: 'kname' 'img' 'close';
    width: 80vw;
    height: 90dvh;
    max-width: 1024px;
    align-items: center;
    justify-content: center; }
    .zoomer__box h2 {
      font-size: "Gideon Roman", sans-serif;
      color: white; }
    .zoomer__box__img {
      grid-area: img;
      max-width: 100%;
      max-height: 100%;
      width: 80dvh;
      object-fit: contain;
      justify-self: center; }
  .zoomer .svg-white {
    width: 50px;
    cursor: pointer;
    justify-self: center;
    grid-area: close; }
  .zoomer img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    border-radius: 5px; }
  .zoomer .kname {
    grid-area: kname;
    justify-self: center; }

/*
  Special section for SVGs

  How to compute the filter value ???
  Go to thi site: https://codepen.io/sosuke/pen/Pjoqqp
  Enter your color code.
  To know your color code go here : https://htmlcolorcodes.com/
*/
.svgsmall-lightblue {
  text-decoration: none;
  width: 18px;
  height: 18px;
  filter: invert(44%) sepia(88%) saturate(1176%) hue-rotate(191deg) brightness(100%) contrast(101%); }

.svgsmall-blue {
  width: 18px;
  height: 18px;
  filter: invert(44%) sepia(96%) saturate(6317%) hue-rotate(229deg) brightness(100%) contrast(102%); }

.svgbig-blue {
  width: 50px;
  height: 50px;
  filter: invert(44%) sepia(96%) saturate(6317%) hue-rotate(229deg) brightness(100%) contrast(102%); }

.svgsmall-lightgreen {
  width: 18px;
  height: 18px;
  filter: invert(41%) sepia(98%) saturate(581%) hue-rotate(83deg) brightness(81%) contrast(80%); }

.svgsmall-red {
  width: 18px;
  height: 18px;
  filter: invert(19%) sepia(96%) saturate(6102%) hue-rotate(357deg) brightness(98%) contrast(117%); }

.svgbig-red {
  width: 50px;
  height: 50px;
  filter: invert(19%) sepia(96%) saturate(6102%) hue-rotate(357deg) brightness(98%) contrast(117%); }

.svgmedium-white {
  width: 24px;
  height: 24px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.svgbig-white {
  width: 50px;
  height: 50px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.svglarge-white {
  width: 80px;
  height: 80px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.svg-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes slideDown {
  0% {
    transform: translateY(-100%); }
  50% {
    transform: translateY(-50%); }
  65% {
    transform: translateY(-20%); }
  100% {
    transform: translateY(0%); } }

@keyframes flashDown {
  0% {
    transform: translateY(-100%); }
  20% {
    transform: translateX(10%, -70%); }
  50% {
    transform: translateX(25%, -50%); }
  75% {
    transform: translate(40%, 50%); }
  100% {
    transform: translate(50%, 50%); } }

@keyframes flashUp {
  0% {
    transform: translateY(200%); }
  20% {
    transform: translateX(10%, 90%); }
  50% {
    transform: translateX(25%, 70%); }
  75% {
    transform: translate(40%, 50%); }
  100% {
    transform: translate(50%, 50%); } }

@keyframes flashUpClockwise {
  0% {
    transform: translateY(200%); }
  20% {
    transform: translateX(10%, 90%) rotate(100deg); }
  50% {
    transform: translateX(25%, 70%) rotate(180deg); }
  75% {
    transform: translate(40%, 50%) rotate(270deg); }
  100% {
    transform: translate(50%, 50%) rotate(360deg); } }

@keyframes flashUpCounterClockwise {
  0% {
    transform: translateY(200%); }
  20% {
    transform: translateX(10%, 90%) rotate(-100deg); }
  50% {
    transform: translateX(25%, 70%) rotate(-180deg); }
  75% {
    transform: translate(40%, 50%) rotate(-270deg); }
  100% {
    transform: translate(50%, 50%) rotate(-360deg); } }

@keyframes slideUp {
  100% {
    transform: translateY(-100%); }
  0% {
    transform: translateY(0%); } }

*, *::before, *::after {
  box-sizing: border-box; }

#newsgallery {
  scroll-margin: 100px;
  width: 100%;
  padding-top: 1rem;
  background-image: url(../images/BastosBG3.webp);
  background-position: center;
  background-attachment: fixed;
  background-size: cover; }
  @media screen and (min-width: 1024px) {
    #newsgallery {
      background-size: 70%;
      background-repeat: no-repeat; } }
  #newsgallery .newsdetails[active] {
    animation-name: fadein;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-timing-function: linear; }
  #newsgallery .newsdetails[inactive] {
    animation-name: fadeout;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-timing-function: linear; }
  #newsgallery .newszone {
    color: white;
    padding: 0 2em 3em 2em;
    width: 90%; }
    @media screen and (min-width: 1024px) {
      #newsgallery .newszone {
        padding: 0 5em 3em 5em;
        width: 100%;
        max-width: 1024px; } }
    #newsgallery .newszone h2 {
      font-family: "Gideon Roman", sans-serif;
      margin: 1rem; }
    #newsgallery .newszone p {
      font-family: "Gideon Roman", sans-serif;
      border-radius: 5px;
      font-size: 1rem;
      line-height: 1.3rem;
      margin: 1rem;
      padding: 1rem 0; }
      @media screen and (min-width: 1024px) {
        #newsgallery .newszone p {
          font-size: 1.3rem;
          line-height: 1.3rem; } }
    #newsgallery .newszone .news {
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      gap: 2vmin;
      list-style-type: none; }
      #newsgallery .newszone .news li {
        height: 250px;
        flex-grow: 1; }
      #newsgallery .newszone .news img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: solid 1px white;
        object-fit: cover; }
      #newsgallery .newszone .news ::after {
        content: "";
        display: block;
        flex-grow: 10; }

#fullscreen {
  background-color: #1a1917; }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*
  Special section for SVGs

  How to compute the filter value ???
  Go to thi site: https://codepen.io/sosuke/pen/Pjoqqp
  Enter your color code.
  To know your color code go here : https://htmlcolorcodes.com/
*/
.svgsmall-lightblue {
  text-decoration: none;
  width: 18px;
  height: 18px;
  filter: invert(44%) sepia(88%) saturate(1176%) hue-rotate(191deg) brightness(100%) contrast(101%); }

.svgsmall-blue {
  width: 18px;
  height: 18px;
  filter: invert(44%) sepia(96%) saturate(6317%) hue-rotate(229deg) brightness(100%) contrast(102%); }

.svgbig-blue {
  width: 50px;
  height: 50px;
  filter: invert(44%) sepia(96%) saturate(6317%) hue-rotate(229deg) brightness(100%) contrast(102%); }

.svgsmall-lightgreen {
  width: 18px;
  height: 18px;
  filter: invert(41%) sepia(98%) saturate(581%) hue-rotate(83deg) brightness(81%) contrast(80%); }

.svgsmall-red {
  width: 18px;
  height: 18px;
  filter: invert(19%) sepia(96%) saturate(6102%) hue-rotate(357deg) brightness(98%) contrast(117%); }

.svgbig-red {
  width: 50px;
  height: 50px;
  filter: invert(19%) sepia(96%) saturate(6102%) hue-rotate(357deg) brightness(98%) contrast(117%); }

.svgmedium-white {
  width: 24px;
  height: 24px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.svgbig-white {
  width: 50px;
  height: 50px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.svglarge-white {
  width: 80px;
  height: 80px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

.svg-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%); }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeout {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes slideDown {
  0% {
    transform: translateY(-100%); }
  50% {
    transform: translateY(-50%); }
  65% {
    transform: translateY(-20%); }
  100% {
    transform: translateY(0%); } }

@keyframes flashDown {
  0% {
    transform: translateY(-100%); }
  20% {
    transform: translateX(10%, -70%); }
  50% {
    transform: translateX(25%, -50%); }
  75% {
    transform: translate(40%, 50%); }
  100% {
    transform: translate(50%, 50%); } }

@keyframes flashUp {
  0% {
    transform: translateY(200%); }
  20% {
    transform: translateX(10%, 90%); }
  50% {
    transform: translateX(25%, 70%); }
  75% {
    transform: translate(40%, 50%); }
  100% {
    transform: translate(50%, 50%); } }

@keyframes flashUpClockwise {
  0% {
    transform: translateY(200%); }
  20% {
    transform: translateX(10%, 90%) rotate(100deg); }
  50% {
    transform: translateX(25%, 70%) rotate(180deg); }
  75% {
    transform: translate(40%, 50%) rotate(270deg); }
  100% {
    transform: translate(50%, 50%) rotate(360deg); } }

@keyframes flashUpCounterClockwise {
  0% {
    transform: translateY(200%); }
  20% {
    transform: translateX(10%, 90%) rotate(-100deg); }
  50% {
    transform: translateX(25%, 70%) rotate(-180deg); }
  75% {
    transform: translate(40%, 50%) rotate(-270deg); }
  100% {
    transform: translate(50%, 50%) rotate(-360deg); } }

@keyframes slideUp {
  100% {
    transform: translateY(-100%); }
  0% {
    transform: translateY(0%); } }

.htmltemplate {
  display: flex;
  flex-direction: column;
  margin: 1em;
  padding: 1em;
  border-radius: 5px; }
  .htmltemplate h2 {
    font-size: 2rem;
    font-family: "Arial, Helvetica", sans-serif;
    font-style: italic;
    text-transform: none; }
  .htmltemplate p {
    margin: .5rem;
    font-size: 1rem;
    font-family: "Arial, Helvetica", sans-serif; }
  .htmltemplate li {
    font-weight: normal; }
  .htmltemplate img {
    margin: 20px;
    width: 300px;
    height: 300px;
    float: left;
    border: solid darkgrey 3px;
    border-radius: 5px; }
  .htmltemplate.textright {
    text-align: right; }
  .htmltemplate.textleft {
    text-align: left; }

.feedback {
  color: red;
  border: 1px solid blue;
  border-radius: 5px; }

.bigblue {
  color: blue;
  font-size: 2em;
  margin: 0 auto; }

.biggreen {
  color: green;
  font-size: 2em;
  margin: 0 auto; }

.bigred {
  color: red;
  font-size: 2em;
  margin: 0 auto; }

.ylabel {
  font-weight: bold; }

button.ylink.disabled {
  font-weight: bold;
  font-size: 1.2rem; }

button.ylink.active {
  font-weight: bold;
  font-size: 1.4rem; }

button.ylink:hover {
  color: red; }

#loglist li:nth-child(odd) {
  background-color: lightgray; }

#commandzone a {
  text-decoration: none; }

.paginationcommands {
  border: 1px solid lightgray;
  border-radius: 3px;
  display: flex; }
  .paginationcommands div {
    margin: auto;
    text-align: center; }
  .paginationcommands img {
    width: 40px;
    height: 40px; }

.logs {
  padding-left: 0;
  padding-right: 0; }

.imagesmall {
  width: 8rem;
  height: 8rem;
  max-width: 8rem;
  max-height: 8rem;
  border-radius: 50%; }

.iconicimage {
  width: 40px;
  height: 40px;
  border-radius: 50%; }

.textsmall {
  font-size: 0.7rem; }

.textverysmall {
  font-size: 0.5rem; }

legend {
  font-weight: bold; }

.ysuccess {
  color: green; }

.yerror {
  color: red; }

.ywarning {
  color: orangered; }

.ylistheader {
  background-color: darkgray;
  color: white; }

.ya {
  text-decoration: none; }

.msgdetails {
  font-style: italic; }
  .msgdetails .label {
    font-weight: bold; }

.textdetails {
  font-style: italic;
  margin: 1em;
  padding: 1em;
  border: 1px solid darkgray;
  border-radius: 5px; }

.on {
  color: green; }

.off {
  color: red; }

.errordate {
  border: red 1px solid; }

.noerrordate {
  border: none; }
