{% extends 'bootstrap.html.twig' %}

{% block title %}Admin Home{% endblock %}

{# {% form_theme form 'bootstrap_5_layout.html.twig' %} #}

{% block pagetitle %}<h1 class="mt-4">Admin Home</h1>{% endblock %}

{% block body %}
    <h3>This is the place to be</h3>

    <p>We use bootstrap to perform some administrative tasks</p>

{% endblock %}
