{% extends 'bootstrap.html.twig' %}

{% block title %}{% trans %}admin.title{% endtrans %}{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block pagetitle %}
    <h1 class="mt-4">{% trans %}images.menuheader{% endtrans %}</h1>
{% endblock %}

{% block body %}
    {# Slides menu
    {% include "admin/slidesmenu.html.twig" %}
     #}
    {# List images #}
    {% include "admin/imageslist.html.twig" %}

    <script src="{{ asset('node_modules/jquery/dist/jquery.min.js')}}"></script>
    
{% endblock %}
