

{# Data to be used by menuhandler.js #}
<div class="menudata" data-pathinfo="{{app.request.pathinfo}}"></div>

<ul class="nav mb-2 dynmenu">
    <li class="nav-item"><a class="nav-link sticky" href="{{ path('bootadmin.logs.all')}}">{% trans %}logs.all100{% endtrans %}</a></li>
    <li class="nav-item"><a class="nav-link sticky" href="#">{% trans %}logs.user{% endtrans %}</a></li>
    <li class="nav-item"><a class="nav-link sticky" href="#">{% trans %}logs.site{% endtrans %}</a></li>
    <li id="showall" class="nav-item"><a class="nav-link sticky" href="#">{% trans %}logs.show{% endtrans %}</a></li>
    <li id="hideall" class="nav-item"><a class="nav-link sticky" href="#">{% trans %}logs.hide{% endtrans %}</a></li>
</ul>
<script src="{{ asset('node_modules/jquery/dist/jquery.min.js')}}"></script>
<script src="{{ asset('scripts/menuhandler.js')}}"></script>

