.form-container
{
    width: 70%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $formBackgroundDark;
    box-shadow: 0 0 15px 0 $formBackgroundDark;
    border-radius: 20px;
    padding: 20px 7px;

    .form-title{
        width: 100%;
        text-align: center;
        font-family: $title;
        font-weight: 600;
        font-size: 2.3rem;
        color: $alternateText;
    }
    .form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 40px;

        .input-group{
            display: flex;
            flex-direction: column;
            gap: 7px;

            label{
                color: $alternateText;
                font-weight: lighter;
                font-size: 1.7rem;
            }
            input{
                font-size: 1.25rem;
                padding: .5em;
                background-color: $formBackgroundLight;
                border: none;
                outline: none;
                border-radius: .25em;
                color: $alternateText;
                font-weight: lighter;

                &:focus{
                    box-shadow: 0 0 0 1px $formBorder;
                }
            }
            ul{
                li{
                    color: $formError;
                }
            }
        }
        button{
            padding: .5em 1em;
            font-size: 1.5rem;
            font-family: $main;
            letter-spacing: 2.3px;
            font-weight: lighter;
            color: $alternateText;
            background-color: $formBackground;
            border: 1px solid $formBorder;
            border-radius: .25em;
            outline: none;
            cursor: pointer;
            transition: all .3s;

            &:hover{
                background-color: $formBackgroundHover;
                letter-spacing: 2.6px;
            }
            &:focus{
                background-color: $formBackgroundHover;
                letter-spacing: 2.6px;
            }
        }
    }
}
.admin-list{
    width: 70%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $formBackgroundDark;
    box-shadow: 0 0 15px 0 $formBackgroundDark;
    border-radius: 20px;
    padding: 20px 7px;
    margin-top: 40px;

    h2{
        font-size: 1.7rem;
        color: $alternateText;
        font-family: $title;
        margin-bottom: 20px;
    }
    ul{
        height: 200px;
        overflow-y: scroll;
        background: $formBackgroundLight;
        width: 70%;
        padding: 15px 10px;
        border-radius: .25em;

        &::-webkit-scrollbar{
            display: none;
        }
        li{
            font-size: 1.7rem;
            color: $alternateText;
            display: flex;
            justify-content: space-between;
            margin: 10px 0px;

            p{
                display: flex;
                width: calc(100% - 30px);
                justify-content: flex-start;
                align-items: center;
            }
            .links{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                margin-right: 10px;

                a{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $alternateText;
                    transition: all .3s;

                    &.update:hover{
                        color: $buttonNext;
                    }
                    &.delete:hover{
                        color: $buttonDelete;
                    }
                }
            }
        }
    }
}