.admin-list{
    width: 70%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $formBackgroundDark;
    box-shadow: 0 0 15px 0 $formBackgroundDark;
    border-radius: 20px;
    padding: 20px 7px;
    margin-top: 40px;

    h2{
        font-size: 1.7rem;
        color: $alternateText;
        font-family: $title;
        margin-bottom: 20px;
    }
    ul{
        height: 700px;
        max-height: 65vh;
        overflow-y: scroll;
        background: $formBackgroundLight;
        width: 70%;
        padding: 15px 10px;
        border-radius: .25em;

        &::-webkit-scrollbar{
            display: none;
        }
        li{
            font-size: 1.7rem;
            color: $alternateText;
            display: flex;
            justify-content: space-between;
            margin: 10px 0px;

            p{
                display: flex;
                width: calc(100% - 60px);
                justify-content: flex-start;
                align-items: center;
            }
            .links{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;

                a{
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $alternateText;
                    transition: all .3s;

                    &.update:hover{
                        color: $buttonNext;
                    }
                    &.delete:hover{
                        color: $buttonDelete;
                    }
                }
            }
        }
    }
}