
<h2>Beware !!</h2>

<p>You're logged as a super user, so be very careful.</p>
<p>You have full administration rights on all the site data !!.</p>
<p>The functions you have available for knives are :</p>

<ul>
  <li>Addition, modification, deletion of metals</li>
  <li>Addition, modification, deletion of mechanisms types</li>
  <li>Addition, modification, deletion of handle types</li>
  <li>Addition, modification, deletion of knife categories</li>
  <li>Addition, modification, deletion of various accessories</li>
  <li>Addition, modification, deletion of knives using all of the aforementioned components</li>
  <li>Browse the knives' catalog</li>
</ul>

<p>You can also :</p>

<ul>
  <li>Declare your presence at a trade show</li>
  <li>Cancel your participation</li>
  <li>See the events in which you have or will participate</li>
  <li>Simulate sending emails for participation</li>
  <li>Send emails for your subscribers when you declare your participation in a trade show</li>
</ul>

<p>For users who reported :</p>

<ul>
  <li>List them</li>
  <li>Examine their possible interactions on the site</li>
</ul>