
<h2>Beware !!</h2>

<p>You're logged as an adminitraor user,be very careful.</p>
<p>You have full administration rights on all the site data !!.</p>
<p>The functions you have available for knives are :</p>

<ul>
  <li>Addition, modification, deletion of metals</li>
  <li>Addition, modification, deletion of mechanisms types</li>
  <li>Addition, modification, deletion of handle types</li>
  <li>Addition, modification, deletion of knife categories</li>
  <li>Addition, modification, deletion of various accessories</li>
  <li>Addition, modification, deletion of knives using all of the aforementioned components</li>
  <li>Browse the knives' catalog</li>
</ul>

<p>Events</p>

<ul>
  <li>Declare your presence at a trade show</li>
  <li>Cancel your participation</li>
  <li>See the events in which you have or will participate</li>
  <li>Simulate sending emails for participation</li>
  <li>Send emails for your subscribers when you declare your participation in a trade show</li>
</ul>

<p>Users</p>
<ul>
  <li>Create administrator accounts</li>
  <li>Edit, modify or delete any of these accounts</li>
</ul>

<p>Slideshow</p>
<ul>
  <li>
    <p>Create slideshows. They will be displayed on the pages of the site presenting photos,
    of knives, places, workshops, news, people...</p>       
  </li>
  <li>Edit, modify or delete these slideshows</li>
</ul>

