
<div>
    <h1>The workshop</h1>
    <h2>Where everything is designed, made, finished.</h2>
    <img src="/images/workshop.jpg" alt="Avatar">
    <p>
        I set up my studio at 
        <a class="ya" href="https://goo.gl/maps/3kf9mBW6Wy8rkYLV6" target="_blank">Chabreloche</a> 
        and if you pass by do not hesitate to come and discover the hidden face 
        of the manufacture of an art knife.
        You will see the machines and tools that allow you to move from a piece of wood
        or horn, and a piece of metal, to a finished knife.
        Lathe, milling machine, oven, drills, files, hammer, rivets...
        And so many other essential accessories for my work.    </p>
</div>


