
<div>
  <h1>The Beau Merle workshop</h1>
  <h2>TThe art of Cutlery</h2>
  <img src="/images/artisanat.jpg" alt="Avatar">
  <p>
    Welcome to the lair of Beau Merle, Bastien Toubhans, known as Bastos.
    Arriving late in the art cutlery business after long studies as a metallurgical engineer,
    I set up my workshop in Arconsat in Auvergne to work with my hands.
    Here I present my creations to you in the form of a themed gallery.
    Strongly inspired by the fine cutlery of the 18th and 19th centuries,
    French and English, my knives are chimeras. A mix of styles,
    eras with a touch of modernity. All my production is intended for the table,
    sharing a good time around a meal and the knife tool.
    I particularly like working around materials, mechanics and
    knife embellishment techniques bordering on goldsmithing. In my workshop,
    I make luxury pocket knives, entirely from the first sketch
    to the latest finishes starting from fine cutlery steel and raw materials
    animals or wood. I wish you a good visit.
    Do not hesitate to contact me with any questions using the contact form at the bottom of the page.  </p>
</div>
