
<div>
    <h1>The workshop</h1>
    <h2>Where everything is designed, made, finished.</h2>
    <p>
        I am a young 30-year-old craftsman who discovered myself late in life
        a passion for artistic cutlery.
        My trajectory did not lead me directly to this activity.    
        Scientific baccalaureate, preparatory classes, engineering school, doctorate.
        After which the prospect of trades offered in the industry did not excite me.
        It is true that all the positions offered were located in Ile de France,
        which weighed heavily in my refusal.
        Traffic jams, pollution, rental prices, and saturated public transport
        convinced me to come and settle near Thiers, the French capital of cutlery.
        Anyway, I was probably not cut out for the job of engineer.
        It was time to notice it you will tell me!
        All is not however negative in my studies, because my doctorate was on the materials
         and it is interesting to have certain knowledge when working with metals
         and different materials of a knife.
         Let's not exaggerate, I don't align equations before forging a blade or polishing a bolster!
        So I set up my studio at 
        <a class="ya" href="https://goo.gl/maps/3kf9mBW6Wy8rkYLV6" target="_blank">Chabreloche</a> 
        and if you pass by do not hesitate to come and discover the hidden face 
        of the manufacture of an art knife.
    </p>
</div>


