
// colors

$background: #f1f1f1;
$alternateBackground: #333;
$cardBackground: #292929;
$backgroundLines: #000;
$menuBackground: rgba(51, 51, 51, 0.403);
$formBackgroundLight: #d1f0ff4d;
$formBackground: #00aaff40;
$formBackgroundHover: #00aaff66;
$formBackgroundDark: #00141fb3;
$formBorder: hsl(200, 100%, 50%);
$formSuccess: hsl(100, 60%, 50%);
$formError: hsl(0, 60%, 50%);

$frame1: #45f3ff;
$frame2: #ffef3c;
$lightBorder: rgba(74, 71, 71, 0.387);
$border: #f1f1f1;
$alternateBorder: #333;

$text: #333;
$alternateText : #f1f1f1;
$title: #ffef3c;
$titleWhite : #f0eee3;

$buttonNext: #b48645;
$buttonValidate: #86cf67;
$buttonDelete : #d15757;
$buttonDetails: #45f3ff;
$buttonContact: #f1f1f1;

$lightShadow: rgba(74, 71, 71, 0.387);

// fonts

$title: "Cinzel Decorative", sans-serif;
$main: "Acme", sans-serif;