
.button
{
    position: absolute;
    z-index: 98;

    a{
        position: relative;
        background: $background;
        color: $alternateText;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
        padding: 10px 30px;
        transition: 0.5s;

        &:before{
            content: '';
            position: absolute;
            inset: 2px;
            background: $alternateBackground;
        }
        span{
            position: relative;
            z-index: 99;
        }
        i{
            position: absolute;
            inset: 0;
            display: block;

            &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 80%;
                width: 10px;
                height: 10px;
                background: $alternateBackground;
                transform: translate(-50%) skewX(325deg);
                transition: 0.5s;
            }
            &:after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 20%;
                width: 10px;
                height: 10px;
                background: $alternateBackground;
                transform: translate(-50%) skewX(325deg);
                transition: 0.5s;
            }
        }
    }
    @media screen and (min-width: 800px) {
        
    }

    @media screen and (min-width: 1200px) {

        &:hover{

            a{
                background: $buttonNext;
                color: $buttonNext;

                i{

                    &:before{
                        width: 20px;
                        left: 20%;
                    }
                    &:after{
                        width: 20px;
                        left: 80%;
                    }
                }
            }
        }
    }
}