
<h2>Attention</h2>

<p>Vous êtes administrateur des données.</p>
<p>Alors faites bien atttention à ce que vous allez faire SVP.</p>
<p>Les fonctions dont vous disposez pour les couteaux sont :</p>

<ul>
  <li>Ajout, modification, suppression de métaux</li>
  <li>Ajout, modification, suppression de types de mécanismes</li>
  <li>Ajout, modification, suppression de types de manches</li>
  <li>Ajout, modification, suppression de catégories de couteaux</li>
  <li>Ajout, modification, suppression d'accessoires divers</li>
  <li>Ajout, modification, suppression de couteaux utilisant l'ensemble des composants susnommés</li>
  <li>Consultation du catalogue des couteaux</li>
</ul>

<p>Les salons</p>

<ul>
  <li>Déclarer votre présence sur un salon</li>
  <li>Annuler votre participation</li>
  <li>Voir les salons auxquels vous avez ou allez participé</li>
  <li>Simuler un envoi de mails pour une participation</li>
  <li>Envoyer des mails pour vos abonnés quand vous déclarez votre participation à un salon</li>
</ul>

<p>Utilisateurs</p>
<ul>
  <li>Créer les comptes des administrateurs</li>
  <li>Editer, modifier ou supprimer l'un de ces comptes</li>
</ul>

<p>Diaporamas</p>
<ul>
  <li>
    <span>Créer les diaporamas. Ils seront affichés sur les pages du site présentant des photos.</span>
    <span>De couteaux, de lieux, d'atelier, d'actualité, de personne...</span>  
  </li>
  <li>Editer, modifier ou supprimer ces diaporamas</li>
</ul>
