
<h2>Attention</h2>

<p>Vous êtes super administrateur des données.</p>
<p>Alors faites bien atttention à ce que vous allez faire SVP.</p>
<p>Les fonctions dont vous disposez pour les couteaux sont :</p>

<ul>
  <li>Ajout, modification, suppression de métaux</li>
  <li>Ajout, modification, suppression de types de mécanismes</li>
  <li>Ajout, modification, suppression de types de manches</li>
  <li>Ajout, modification, suppression de catégories de couteaux</li>
  <li>Ajout, modification, suppression d'accessoires divers</li>
  <li>Ajout, modification, suppression de couteaux utilisant l'ensemble des composants susnommés</li>
  <li>Consultation du catalogue des couteaux</li>
</ul>

<p>Vous pouvez également :</p>

<ul>
  <li>Déclarer votre présence sur un salon</li>
  <li>Ou annuler votre participation</li>
</ul>

<p>Pour les utilisateurs qui se sont signalés :</p>

<ul>
  <li>Les lister</li>
  <li>Examiner leurs éventuelles interactions sur le site</li>
</ul>