
<div>
    <h1>L'atelier</h1>
    <h2>Là où tout se conçoit, se fabrique, se finit.</h2>
    <img src="/images/artisanat.jpg" alt="Avatar">
    <p>
    J'ai installé mon atelier à 
    <a class="ya" href="https://goo.gl/maps/3kf9mBW6Wy8rkYLV6" target="_blank">Chabreloche</a> 
    et si vous passez dans le coin 
    n'hésitez pas à venir découvrir la face cachée de la fabrication d'un couteau d'art.
    Vous verrez les machines et les outils qui permettent de passer d'un bout de bois 
    ou de corne, et d'un bout de métal, à un couteau fini. 
    Tour, fraiseuse, four, perçeuses, limes, marteau, rivets...
    Et tant d'autres accessoires indispensables à mon travail.
    </p>
</div>


