<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/main.css">
  <title>Atelier Beau Merle : utilisation de cookies</title>
</head>
<body>
    <div class="legal">
        <div class="legal__section">
            <h1>Utilisation de cookies</h1>
            <h2>Petit rappel</h2>
            <p>
                Rappelons qu'un cookie est un fichier traceur déposé sur <b>le terminal de l'internaute</b>.
                Ce dernier doit pouvoir contrôler la manière dont sont utilisés ces cookies. 
                Les sites web qui déposent des cookies pour tracer les internautes doivent obligatoirement recueillir 
                leur consentement, notamment si ces derniers sont utilisés pour :
                <div class="legal__section__container">
                    <ul class="legal__section__container__list">
                        <li>L'analyse et la mémorisation de leurs interactions avec le site.</li>
                        <li>La captation d'informations permettant du ciblage marketing.</li>
                        <li>La personnalisation de la navigation sur le site s'appuyant sur le comportement habituel de l'utilisateur</li>
                        <li>Et d'une façon plus générale, la mémorisation, la transmission, ou le traitement de toute information 
                            s'appuyant sur l'identification nominative de l'internaute.
                        </li>
                    </ul>
                </div>
                La CNIL spécifie qu'aucun traceur non essentiel au fonctionnement du service ne peut être déposé sur le terminal
                de l'internaute sans son consentement explicite. Et son absence de réponse doit être considéré comme un non.
            </p>
            <p>
                Dans tous les cas ci-dessus, il est obligatoire d'informer l'utilisateur puisqu'il est désormais identifié 
                et reconnu par le site lors de ses visites.
                Matériellement, cela se traduit par les fameuses et si agaçantes bannières d'acceptation de cookies 
                que l’on voit sur tous les sites web procédant à ces opérations.
                Parfois l'utilisateur peut choisir les types d'informations qu'il autorise le site à utiliser.
            </p>
            <p>
                En conséquence, quand le site capte et gère ces informations personnelles, l'utilisateur doit être en capacité 
                de résilier tout ou partie des autorisations préalablement accordées.
            </p>
            <h2>Notre site</h2>
            <p>
                <u>couteaux-dart.fr ne mémorise aucune information personnelle de l'utilisateur</u>, ni en cookies 
                ni en <a href='privacy.html'>base de données.</a>
                Les seuls cookies utilisés sont techniques et nécessaires au fonctionnement du site.
                C'est la raison pour laquelle aucune bannière n'apparait lors de la première connexion d'un utilisateur
                car son consentement n'est requis que dans les cas d'exploitation et de mémorisation de données personnelles 
                décrits ci-dessus.
            </p>
        </div>
    </div>
</body>
</html>


