
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/main.css">
  <title>Atelier Beau Merle : mentions légales</title>
</head>
<body>
    <div class="legal">
        <h1>Mentions légales</h1>
        <h2>Présentation</h2>
        <ul>
            <li>Nom de la société : Coutellerie Bastien Toubhans</li>
            <li>Forme juridique : Microentreprise</li>
            <li>Capital social : N/A</li>
            <li>Adresse : Arconsat</li>
            <li>Contact : atelierbeaumerle@gmail.com</li>
            <li>RCS  : 947803656 00026</li>
        </ul>
        <h2>Gestion du site</h2>
        <ul>
            <li>Responsable de publication : Bastien TOUBHANS</li>
            <li>Hébergeur : <a href="https://www.o2switch.fr/" target="_blank">o2switch</a> </li>
            <li>Contact : 04 44 44 60 40 / support@o2switch.fr</li>
            <li>Chemin des Pardiaux, 63000 Clermont-Ferrand</li>
            <li>SAS au capital de 100 000 euros</li>
            <li>SIRET 510 909 80700024 Clermont-Ferrand</li>
        </ul>
    </div>
</body>
</html>


