
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atelier Beau Merle : mentions légales</title>
</head>
<body>
    <div>
        <h1>Mentions légales</h1>
        <h2>Présentation</h2>
        <ul>
            <li>Nom de la société : </li>
            <li>Forme juridique : </li>
            <li>Capital social : </li>
            <li>Adresse : </li>
            <li>Contact : atelierbeaumerle@gmail.com</li>
            <li>RCS  : </li>
            <li>RNE  : </li>
            <li>N° TVA intracommunautaire : </li>
        </ul>
        <ul>
            <li>Responsable de publication : Bastien TOUBHANS</li>
            <li>Hébergeur : </li>
        </ul>
    </div>
</body>
</html>


