
<div>
  <h1>L'atelier beau merle</h1>
  <h2>L'art de la coutellerie</h2>
  <img src="/images/artisanat.jpg" alt="Avatar">
  <p>
    Bienvenue dans l’antre du Beau Merle, Bastien Toubhans, dit Bastos. 
    Arrivé tardivement à la coutellerie d’art après de longues études d’ingénieur en métallurgie,
    j’ai installé mon atelier à Arconsat en Auvergne pour travailler de mes mains. 
    Je vous présente ici mes créations sous la forme d’une galerie à thème. 
    Fortement inspiré par la coutellerie fine du XVIIIème et XIXème siècle, 
    française et anglaise, mes couteaux sont des chimères. Un mélange des styles, 
    des époques avec une touche de modernité. Toute ma production est destinée à la table, 
    au partage d’un bon moment autour du repas et de l’outil couteau. 
    J’affectionne particulièrement le travail autour de la matière, les mécaniques et les 
    techniques d’embellissement des couteaux à la frontière de l’orfèvrerie. Dans mon atelier, 
    je réalise des couteaux de poche de luxe, intégralement, de la première esquisse 
    aux dernières finitions en partant d’acier fins de coutellerie et de matières brutes 
    animales ou de bois. Je vous souhaite une bonne visite. 
    N’hésitez pas à me contacter pour toute question grâce au formulaire de contact en bas de page.  </p>
</div>
