
<div>
  <h1>L'atelier beau merle</h1>
  <h2>L'art de la coutellerie</h2>
  <img src="/images/artisanat.jpg" alt="Avatar">
  <p>
    Je fabrique des couteaux d'art.
    Chaque modèle est original car je n'aime pas faire de la série.
    Mes couteaux, en majorité pliants, utilisent tous types de matériaux.
    Tant pour les manches, les mitres, que les lames.
    Je les crée intégralement, au fil de mon inspiration et...
    des demandes de mes clients.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ut reprehenderit nemo iste fuga doloremque provident reiciendis molestias dolore iure nobis, ad nam. Nisi asperiores obcaecati esse assumenda, totam sapiente?
  </p>
</div>
