<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/main.css">
  <title>Atelier Beau Merle : protection des données</title>
</head>
<body>
  <div class="legal">
    <div class="legal__company">
      <h1>Politique de protection des données</h1>
      <p>
        L’Union européenne a adopté en mai 2018 un règlement européen sur la protection des données personnelles (RGPD). 
        Il permet à l’Europe de s’adapter aux nouvelles réalités du numérique et renforce les droits des citoyens européens 
        en leur donnant plus de contrôle sur leurs données personnelles.
      </p>
      <p>
        Ce site ne collecte aucune information personnelle des internautes.
        Pour la fiche contact, l'utilisateur fournit ces informations en toute connaissance de cause, 
        lorsqu'il procède par lui-même à leur saisie et manifeste son accord en l'envoyant. L'information sensible dans ce cas est son addresse
        mail. 
        Cette information n'est pas mémorisée par le site. Ni en <a href='cookies.html'>cookie</a>, ni en base de données.
        Elle ne sert qu'à être insérée dans un courriel à 
        destination de couteaux-dart.fr.
        Aucun traitement n'est effectué hors l'envoi d'un courriel à couteaux-dart.fr.
      </p>
      <p>
        Aucune information personnelle de l'utilisateur du site n'est publiée à son insu, échangée, transférée, cédée ou vendue à des tiers.
      </p>
    </div>
  </div>
</body>
</html>





