
<div>
    <h1>Qui suis-je ?</h1>
    <h2>Tous les chemins mènent aux couteaux...</h2>
    <img src="/images/artisanat.jpg" alt="Avatar">
    <p>
    Je suis un jeune artisan de 30 ans qui s'est découvert sur le tard 
    une passion pour la coutellerie d'art.
    Ma trajectoire ne m'a pas mené directement à cette activité.
    Bac scientifique, classes préparatoires, Ecole d'ingénieur, Doctorat.
    Après quoi la perspective des métiers proposés dans l'industrie ne m'a pas enthousiasmé.
    Il est vrai que tous les postes proposés se situaient en Ile de France, 
    ce qui a pesé lourd dans mon refus. 
    Les bouchons, la pollution, le prix des loyers, et les transports en commun saturés
    m'ont convaincu de venir m'installer près de Thiers, capitale Française de la coutellerie.
    De toute façon je n'étais sans doute pas fait pour le métier d'ingénieur.
    Il était temps de s'en apercevoir me direz-vous !
    Tout n'est cependant pas négatif dans mes études, car mon doctorat portait sur les matériaux 
    et il est intéressant d'avoir certaines connaissances lorsque l'on travaille les métaux 
    et les différentes matières d'un couteau.
    N'exagérons rien, je n'aligne pas des équations avant de forger une lame ou de polir une mitre !
    Si vous avez le temps vous pouvez aussi regarder
        <a href="https://www.youtube.com/watch?v=bpvKTJEBObM\0026list=PLZx0qkIFIprEAGVKJeJmadxVZ3C5X183x" 
        target="_blank">ça.</a>
    </p>
</div>


