{% extends 'template.html.twig' %}

{% block title %}Atelier Beaumerle - Nous écrire{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{ asset('/css/contact.css') }}">
{% endblock %}

{% block script %}
    <script src="{{asset('/scripts/mainmenu.js')}}" defer></script>
{% endblock %}

{% block body %}
    <div class="contenu">

    </div>
{% endblock %}
