.allnews {
  display: flex;
  flex-wrap: wrap;
  margin-top: 70px;
  .news {
    padding: 30px;
    scroll-margin: 70px; 
    width: 100%;
    color: white; 
    h1 {
      margin: 1rem;
    }
    h2 {
      margin: 2rem;  
    } 
    img {
      margin: 0 20px;
      width: 300px;
      height: 300px;
      border: solid darkgrey 3px; 
      border-radius: 10px;
    } 
    p { 
      margin: 30px 20px;
      font-style: italic; 
    }
    &:nth-child(even) { 
      background-image: url('../images/background-left.jpg');  
      background-size: cover;
      img {
        float: left;
      }
    }
    &:nth-child(odd) {
      background-image: url('../images/background-right.jpg'); 
      background-size: cover;
      img {
        float: right;
      }  
    }
  }
}
