@keyframes fadein {
    0%   { opacity: 0;}
    100% { opacity: 1;}
}
@keyframes fadeout {
  0%   { opacity: 1;}
  100% { opacity: 0;}
}
@keyframes slideUp {
  0% {transform: translateY(0%);}		
  100% {transform: translateY(-100%);} 
}
@keyframes slideDown {
    0% { transform: translateY(-100%);}
    50%{transform: translateY(-50%);}
    65%{transform: translateY(-20%);}
    100% {transform: translateY(0%);}		
}
@keyframes slideRightIn {
  0% {transform: translateX(-100%);} 
  100% {transform: translateX(0%);}		
}
@keyframes slideRightOut {
  0% {transform: translateX(0%);} 
  100% {transform: translateX(-100%);}		
}
@keyframes slideLeftIn {
  0% {transform: translateX(100%);}
  100% {transform: translateX(0%);}		
}
@keyframes flashDown {
    0% { transform: translateY(-100%);}
    20%{transform: translateX(10%, -70%);}
    50%{transform: translateX(25%, -50%);}
    75% {transform: translate(40%, 50%);}		
    100% {transform: translate(50%, 50%);}		
}
@keyframes flashUp {
    0% { transform: translateY(200%);}
    20%{transform: translateX(10%, 90%);}
    50%{transform: translateX(25%, 70%);}
    75% {transform: translate(40%, 50%);}		
    100% {transform: translate(50%, 50%);}		
}
@keyframes flashUpClockwise {
    0% { transform: translateY(200%);}
    20%{transform: translateX(10%, 90%)  rotate(100deg);}
    50%{transform: translateX(25%, 70%)rotate(180deg);}
    75% {transform: translate(40%, 50%)rotate(270deg);}		
    100% {transform: translate(50%, 50%)rotate(360deg);}		
}
@keyframes flashUpCounterClockwise {
    0% { transform: translateY(200%);}
    20%{transform: translateX(10%, 90%)  rotate(-100deg);}
    50%{transform: translateX(25%, 70%)rotate(-180deg);}
    75% {transform: translate(40%, 50%)rotate(-270deg);}		
    100% {transform: translate(50%, 50%)rotate(-360deg);}		
}
// Look here https://codepen.io/petersonby/pen/gzxpdj
@keyframes preloader {
  100% { transform: scale(2); }
}
// Also have a look here : https://codepen.io/joezimjs/pen/bLRMom
