.cards {
  scroll-margin: $menu-height;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/home-knife.jpg);
  background-position: center;
  background-attachment: fixed;
  color: white;
  h1{
    font-family: $title;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2rem 0;
    width: 100%;
    @include for-desktop{
        font-size: 3rem;
    }
  }
  h2{
      font-size: 1.2rem;
      font-weight: 600;
      padding-bottom: 2rem ;
      line-height: 1.5rem;
      display: inline-block;
      width: 100%;
      @include for-desktop{
          font-size: 2rem;
      }
  }
  p{
    font-size: 1rem; 
    line-height: 1.4rem;
    text-align: right;
    width: 100%;
    @include for-desktop{
        font-size: 1.5rem;
        line-height: 2rem;
    }
  }
  .cards-header {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    width: 100%; 
    margin: 1rem 4rem 2rem 4rem;  
    padding-bottom: 2rem;
    border-bottom: 2px solid gray; 
  }
  .cardframe {
    width: 80%; 
    height: auto;
    padding: 20px;
    transition: all .8s ease-in;
    &__zoom {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      background: $bg-gradient-green;
      color: white;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
    }
    &__image img {
      height: 120px;
      width: 120px;
      border: solid darkgrey 3px;
      border-radius: 50%; 
      float: right; 
      shape-outside: circle();
      margin-left: 2rem; 
    }
    &__title {
      padding: 20px 10px;
      font-size: 2rem; 
    } 
    &__text {
      line-height: 20px;
      font-style: italic;
      margin-top: 1rem; 
      &:hover {
        box-shadow: 0px 0px 11px 5px #000;
        transition: all .5s  ease;
        padding: 10px;
      }
    }
  }
}
/* --------------------  R E S P O N S I V E --------------------*/
@media screen and (max-width: $smallsize) {
  #globalfullscreen {
    .cardframe {
      &__zoom {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background: $bg-gradient-green;
        color: white;
        justify-content: center;
        align-items: center;
        border-radius: 10px;  
      }
    }   
    .cardframe__title {
      margin-top: 2rem;
    }
    .cardframe__text {
      display: none;
    }

  }
}
