.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  scroll-margin: 90px; 
  padding: 20px;
  .cards-header {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    width: 100%; 
    margin: 1rem 4rem 2rem 4rem;  
    padding-bottom: 2rem;
    border-bottom: 2px solid gray; 
  }
}
.cardframe {
  width: 300px;
  height: auto;
  padding: 20px;
  transition: all .8s ease-in;
  .card-image img {
    height: 100px;
    width: 100px;
    border: solid darkgrey 3px;
    border-radius: 50%;
    float: right; 
    shape-outside: circle();
    margin-left: 2rem; 
  }
  .card-title {
    padding: 20px 10px;
    font-size: 1.5rem; 
    min-height: 100px; 
  } 
  .card-text {
    line-height: 20px;
    margin-top: 1rem; 
    &:hover {
      box-shadow: 0px 0px 11px 5px #000;
      transition: all .5s  ease;
      padding: 10px;
    }
  }
}
/* --------------------  R E S P O N S I V E --------------------*/
@media screen and (max-width: 800px) {
  .card {
    img {
      width: 200px;
    } 
  }
}
