#categorygallery {
    scroll-margin: $menu-height;
    display: flex;  
    background-image: url(../../images/BastosBG5.webp);
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    justify-content: center;
    .catzone {
        display: flex;  
        align-items: flex-start;
        flex-direction: row; 
        flex-wrap: wrap;   
        justify-content: center;
        margin: .8rem 0;
        padding-top: 1.5rem;
        border-top: solid white 2px;
        @include for-desktop {
            padding-top: 3rem;
            max-width: $responsive-max-width;
        }
        &__card {
            display: flex;  
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: .5rem;
            width: 45%;
            @include for-desktop {
                width: 32%;
            }
            h2{
                font-family: $h2font;
                font-size: 1.2rem;
                font-weight: 600;
                padding: 1rem 0 1rem 0;
                line-height: 1.5rem;
                @include for-desktop{
                    font-size: 2.5rem;
                }
            }
            img {
                width: 90%;
                aspect-ratio: 1;
                border-radius: $border-radius;
                margin: .5rem;
                @include for-desktop {
                    width: 80%;
                    aspect-ratio: 1;
                }
            } 
        }
    }
}
