#categories {
    scroll-margin: $menu-height;
    padding: 3rem 0;
    display: flex;  
    background-image: url(../../images/home5.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    justify-content: center;
    .catzone {
        display: flex;  
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: .8rem 0;
        @include for-desktop {
            flex-direction: row; 
            flex-wrap: wrap;   
            max-width: $responsive-max-width;
        }
        .catcard {
            display: flex;  
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 1rem;
            width: 32%;
        }
    }
    img {
        width: 250px;
        height: 250px;
        border-radius: 10px;
        margin: .5rem;
        @include for-desktop {
            width: 80%;
            height: auto;
        }
    } 
    h1{
        font-family: $herotitle;
        font-size: 2rem;
        font-weight: 600;
        padding: 1rem 0;
        @include for-desktop{
            font-size: 3rem;
        }
    }
    h2{
        font-family: $heroh2;
        font-size: 2rem;
        font-weight: 600;
        padding: 1rem 0;
        line-height: 1.5rem;
        @include for-desktop{
            font-size: 2.5rem;
        }
    }
    p{
        font-family: $herop;
        font-size: 1.5rem;
        line-height: 1.4rem;
        padding: 1rem;
        background-color: rgba(34, 7, 7, .3);
        border-radius: 10px;
        width: 50%;
        text-align: center;
        @include for-desktop{
            font-size: 1.5rem;
            line-height: 2rem;
        }
        a {
          color: white;
          font-size: 3rem;
        }
    }
}