$smallsize: 1024px;
$mediumsize: 1500px;
$bigsize: 1920px;
$responsive-max-width: 800px;

$maxslideimagewidth: 500px;

$svgsmall: 18px;
$svgmedium: 24px;
$imagesmall: 8rem;

$textpolicy: Arial, Helvetica, sans-serif;
$smalltext: 0.7rem;
$verysmalltext: 0.5rem;

$on: green;
$off: red;
$menubackground: #f44336;
$bg-gradient-black:  linear-gradient(to bottom left, #959595 0%, #0D0D0D 50%, #010101 50%, #0A0A0A 53%, #4E4E4E 76%, #383838 87%, #1B1B1B 100%);
$menu-height: 70px;

@mixin submenuattr {
    li {
      margin: 0;
      padding: 0 1rem;      
      width: 150px; 
    }
    a {
      font-size: .8rem;
    }
    ::after {
      content: '';
      width: 0%;
      height: 2px;
      background: white;
      display: block;
      margin: auto;
      transition: 0.5s;                    
  }
  :hover::after {
      width: 100%;
  } 
}
