// Some sizes
$smallsize: 850px;
$mediumsize: 1500px;
$bigsize: 1920px; 
$responsive-max-width: 1024px;
$responsive-threshold: 1200px;
$maxslideimagewidth: 500px;
$border-radius: 5px;

$sliderimgsmall: 300px;
$sliderimgmedium: 400px;
$sliderimgbig: 500px;
$imgsmall: 140px;
$imgmedium: 300px;

$svgsmall: 18px;
$svgmedium: 24px;
$svgbig: 50px;
$svglarge: 80px;
$imagesmall: 8rem;

$menu-height: 100px;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Englebert&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&display=swap");

$title: "Cinzel Decorative", sans-serif;
$herotitle: "Cinzel Decorative", sans-serif;
$heroh2: "Gideon Roman", sans-serif;
$herop: "Gideon Roman", sans-serif;  

$main: "Arial, Helvetica", sans-serif;
$textpolicy: "Arial, Helvetica", sans-serif;
$smalltext: 0.7rem;
$verysmalltext: 0.5rem;

// Colors
$background: #1a1917;
$primaryText: white;
$secondaryText: #6c584c; 
$light: #dde5b6;
$lightDark: #333;
$dark: #222;
$lightbrown: #523022;

$on: green;
$off: red;
$disabledbutton: rgb(166, 6, 6);
$enabledbutton: darkgreen;
$menubackground: rgb(38, 22, 15);
$bg-gradient-black:  linear-gradient(to bottom left, #959595 0%, #0D0D0D 50%, #010101 50%, #0A0A0A 53%, #4E4E4E 76%, #383838 87%, #1B1B1B 100%);
$bg-gradient-blue: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 50%, rgba(0,212,255,1) 100%);
$bg-gradient-green: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,121,54,1) 100%, rgba(0,212,255,1) 100%);

.bg-knifeleft {
  background-image: url('../images/background-left.jpg');  
  background-size: cover;
  color: white;
}
.bg-kniferight {
  background-image: url('../images/background-right.jpg'); 
  background-size: cover;
  color: white;
}
.bg-enclume {
  background-image: url('../images/enclume.jpg'); 
  background-size: cover;
  color: white;
}
.bg-thinknife {
  background-image: url('../images/home-knife.jpg'); 
  background-size: cover;
  color: white;
}
.bgr-green {  background: $bg-gradient-green; color: white }
.bgr-black {  background: $bg-gradient-black;  color: white }
.bgr-blue {  background: $bg-gradient-blue;  color: white } 


/*
  How to compute the filter value ???
  Go to thi site: https://codepen.io/sosuke/pen/Pjoqqp
  Enter your color code.
  To know your color code go here : https://htmlcolorcodes.com/
*/
.svgsmall-lightblue {
  text-decoration: none;
  width: $svgsmall;
  height:$svgsmall;
  filter: invert(44%) sepia(88%) saturate(1176%) hue-rotate(191deg) brightness(100%) contrast(101%);
}

.svgsmall-blue {
  width: $svgsmall;
  height:$svgsmall;
  filter: invert(44%) sepia(96%) saturate(6317%) hue-rotate(229deg) brightness(100%) contrast(102%);
}
.svgbig-blue {
  width: $svgbig;
  height:$svgbig;
  filter: invert(44%) sepia(96%) saturate(6317%) hue-rotate(229deg) brightness(100%) contrast(102%);
}

.svgsmall-lightgreen {
  width: $svgsmall;
  height:$svgsmall;
  filter: invert(41%) sepia(98%) saturate(581%) hue-rotate(83deg) brightness(81%) contrast(80%);
}

.svgsmall-red {
  width: $svgsmall;
  height:$svgsmall;
  filter: invert(19%) sepia(96%) saturate(6102%) hue-rotate(357deg) brightness(98%) contrast(117%);
}

.svgbig-red {
  width: $svgbig;
  height:$svgbig;
  filter: invert(19%) sepia(96%) saturate(6102%) hue-rotate(357deg) brightness(98%) contrast(117%);
}

.svgmedium-white {
  width: $svgmedium;
  height:$svgmedium;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%);
}
.svgbig-white {
  width: $svgbig;
  height:$svgbig;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%);
}
.svglarge-white {
  width: $svglarge;
  height:$svglarge;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%);
}
.svg-white {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(131deg) brightness(102%) contrast(102%);
}
