@import './const';

*, *::before, *::after {
    box-sizing: border-box;
}

#thegallery {
    background: #959595;
    background: linear-gradient(to bottom left, #959595 0%, #0D0D0D 50%, #010101 50%, #0A0A0A 53%, #4E4E4E 76%, #383838 87%, #1B1B1B 100%);
    scroll-margin: 70px; 
    padding: 30px; 
    .galleryzone {
        display: flex;
        flex-direction: column; 
        padding-bottom: 3em;
        .gallerytext {
            max-width: 70%;
            margin: 0 auto;
            padding: 1em;
            color: white;
            font-family:Arial, Helvetica, sans-serif;
            font-weight: normal;
            font-style: italic;
        }
        .gallery{ 
            max-width: 70%;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            gap: 2vmin;
            padding: 0 14px;
            list-style-type: none;
            li { 
                height: 250px;
                flex-grow: 1;
            }
            img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
                object-fit: cover;
            }
            ::after {
                content: "";
                display: block;
                flex-grow: 10;
            }
        }    
        .carousel {
            width: 400px; 
            height: 400px;
            position: relative; 
            margin: 0 auto;
            > ul{
                margin: 0;
                padding: 0;
                list-style: none;
            }
            .carousel-button {
                position: absolute;
                background: none;
                border: none;
                font-size: 4rem;
                top: 50%;
                z-index: 2;
                transform: translateY(-50%);
                color: rgba(255, 255, 255, 0.5);
                cursor: pointer;
                border-radius: .25rem; 
                padding: 0 .5rem;
                background-color: rgba(0, 0, 0, 0.1);
                &:hover, &:focus { 
                    color: white;
                    background-color: rgba(0, 0, 0, 0.2); 
                }
                &:focus {
                    outline: 1px solid black;
                }
                &.prev { 
                    left: 1rem;
                }
                &.next {
                    right: 1rem;
                }
            }
            .slide {
                position: absolute; 
                inset: 0;
                opacity: 0;
                &.active {
                    opacity: 1;
                }
                > img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center; 
                }
            }
        }  
    }
}
#fullscreen {
    background-color: white;
}  
.zoomon { 
    position: absolute;
    height: 100%; width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-name: fadein;
    h2 {
        size: 1rem;
        position: absolute;
        padding: .8rem;
        color: white;
        background-color: darkgrey;
        top: 5%;
        left: 5%;
        opacity: 0.5;
    }
}
.zoomoff {
    display: none;
}
@keyframes fadein {
    0%   { opacity: 0;}
    100% { opacity: 1;}
}
