.infos {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  color: white;
  margin: 0 auto;
  @include for-desktop { 
    flex-direction: row;
    max-width: $responsive-max-width;
  }
  gap: 1rem;
  scroll-margin: $menu-height; 
  border-top: 2px solid gray; 
  .infoelement { 
    margin: .5rem;
    width: 80%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    @include for-desktop { 
      align-items: start; 
      width: 30%;
      height: 30svh;
    }
    a {
      color: white;
      text-decoration: none;
    }
    &__data {
      display: flex;
      flex-direction: column;
      gap: .7em;
    }
    &__details {
      display: flex;
      flex-direction: column;
      gap: .7em;
    }
    h1, h2, h3, ul {
      margin: 1rem 0 2rem 0;
      font-size: 1.7rem;
      font-family: "Acme, sans-serif";
    }
    iframe { 
      margin: 20px 0;
      width: 200px;
      height: 200px;
      border: solid darkgrey 3px;  
      border-radius: 10px;
    } 
    button {
      color: white;
      border-radius: .25em;
      width: 5rem; 
      margin: 1em 0;
      padding: .5em;
      cursor: pointer;
      &.active {
        background-color: $enabledbutton;
      }
      &.inactive {
        background-color: $disabledbutton;
      }
    }
    .feedback {
      color: green;
      height: 2rem;
      width: 90%;
      padding-top: 2rem;
      padding-bottom: 5rem;
    }
  }
  .contact{
    display: flex; 
    flex-direction: column;
    width: 270px;
    gap: 7px;
    label{ 
      font-weight: lighter;
    }  
    input{
      margin: 0; 
      padding: .5em 0; 
      border: solid darkolivegreen 2px;  
      border-radius: .25em; 
      font-weight: lighter;
    }
    select {
      padding: .5em; 
    }
    textarea{
      @extend input;
      height: 150px;
      width: 270px;
      max-width: 270px;
      max-height: 200px;
      overflow-y: scroll;
    }
    label {
      margin: .3em 0;
    }
    ul {
      margin: .4em 0;
    }
    li { color: red ; } 
  }
}
