.infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 70px;
  margin: 2rem;
  scroll-margin: 70px; 
  .infoelement {
    padding: 30px;
    width: 300px;
    h1, h2, h3, ul {
      margin: 1rem;
    }
    iframe { 
      margin: 20px;
      width: 250px;
      height: 300px;
      border: solid darkgrey 3px; 
      border-radius: 10px;
    } 
    p { 
      margin: 30px 20px;
      font-style: italic; 
    }
    &:nth-child(even) { 
      img {
        float: left;
      }
    }
    &:nth-child(odd) {
      img {
        float: right;
      } 
    }
  }
  .contact{
    display: flex; 
    flex-direction: column; 
    gap: 7px;
    label{ 
      font-weight: lighter;
    }  
    input{
      padding: .5em; 
      border: solid darkolivegreen 2px;
      border-radius: .25em; 
      font-weight: lighter;
      &:focus {
        border: solid darkmagenta 1px;
      }
    }
    textarea{
      @extend input;
      height: 250px;
      overflow-y: scroll;
    }
  }
}
