.legal {
    display: flex;  
    flex-direction: column;
    background-image: url(../images/BastosBG5.webp);
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat; 
    color: lightblue; 
    height: 100dvh;
    font-family: $pfont;
    a {
        color: white;
    }
    h1, h2 {
        margin: 1rem;
    }
    li {
        margin-top: .4rem;
    }
    b, u {
        text-decoration: underline;
    }
    &__section {
        margin: auto;
        background-color: rgba(51, 51, 51, 0.6);
        width: 90%;
        font-size: 1.5rem;
        line-height: 1.6rem;
        p {  
            margin-top: 1rem;
        }
        @include for-desktop {
            width: 70%
        }
        &__container {
            padding: 1rem 2rem; 
            &__list {
                margin: 2rem 0 2rem 0;
                li {
                    list-style-type: circle;
                }
            }
        }
    }
} 
