.allnews {
  transform: translateY($menu-height);
  .news {
    padding: 10rem;
    transform: translateY(-$menu-height);
    width: 100%;
    h1, h2 {
      margin: 1rem;
    }
    img {
      margin: 20px;
      width: 300px;
      height: 300px;
      border: solid darkgrey 3px; 
      border-radius: 10px;
    } 
    p { 
      margin: 30px 20px;
      font-style: italic; 
    }
    &:nth-child(even) {
      img {
        float: left;
      }
    }
    &:nth-child(odd) {
      img {
        float: right;
      } 
    }
  }
}
