@import './const';
@import '../utils/mixins';

*, *::before, *::after {
    box-sizing: border-box;
}

#newsgallery {
    scroll-margin: $menu-height;
    width: 100%;
    background-image: url(../images/BastosBG3.webp);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    @include for-desktop {
        background-size: 70%;
        background-repeat: no-repeat;
    }
    .news {
        margin: 0 auto;
        @include for-desktop {
            max-width: $responsive-max-width;
            width: 70%;
        }
        h2 {
            font-family: $h2font;
            font-size: 2rem;
            margin: 2rem;
            color: white;
        }        
        &__details {
            background-color: rgba($lightDark, 0.4) ;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            border-top: 2px white solid;
            margin-top: 2rem;
            &__header {
                color: white;
                padding: 0 2em 3em 2em;
                width: 90%; 
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                @include for-desktop { 
                    padding: 0 5em 3em 5em; 
                    width: 100%; 
                    max-width: $responsive-max-width;
                }
                p{
                    font-family: $pfont;
                    border-radius: $border-radius;
                    font-size: 1rem;
                    line-height: 1.4rem;
                    @include for-desktop{
                        padding: 1rem 0;
                        font-size: 1.8rem;
                        line-height: 1.8rem;
                    }
                }
                img {
                    width: 60%;
                    @include for-desktop {
                        width: 70%;
                    }
                    margin: 1rem;
                    border-radius: $border-radius;
                }
            }    
            &__images { 
                margin: 1rem;
                display: flex;
                flex-wrap: wrap;
                gap: 2vmin;
                list-style-type: none;
                justify-content: center;
                img {
                    width: 100px;
                    height: 100px;
                    border-radius: $border-radius;
                    border: solid 1px white;
                    object-fit: cover;
                    float: none;
                }
                
                ::after {
                    content: "";
                    display: block;
                    flex-grow: 10;
                }
            }    
        }
        &__details:nth-child(odd) {
            animation-name: slideRightIn;
            @include for-desktop {
                img {
                    float: left;
                }
            }
        }
        &__details:nth-child(even) {
            animation-name: slideLeftIn;
            @include for-desktop {
                img {
                    float: right;
                }
            }
        }
        &__details[active]  {
            animation-duration: 0.5s;
            animation-fill-mode: forwards; 
            animation-timing-function: linear;      
        }
        &__details[inactive]  {
            animation-name: slideRightOut;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
            animation-timing-function: linear;      
        }
    }
}
