@import './const';
@import '../utils/mixins';

*, *::before, *::after {
    box-sizing: border-box;
}

#newsgallery {
    scroll-margin: $menu-height;
    width: 100%;
    padding-top: 1rem;
    background-image: url(../images/BastosBG3.webp);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    @include for-desktop {
        background-size: 70%;
        background-repeat: no-repeat;
    }
    .news {
        margin: 0 auto;
        @include for-desktop {
            max-width: $responsive-max-width;
            width: 70%;
        }
        h2 {
            font-family: $h2font;
            font-size: 2rem;
            margin: 2rem;
            color: white;
        }        
        &__details {
            background-color: rgba($lightDark, 0.4) ;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
        &__details:nth-child(odd) {
            animation-name: slideRightIn;
        }
        &__details:nth-child(even) {
            animation-name: slideLeftIn;
        }
        &__details[active]  {
            animation-duration: 0.5s;
            animation-fill-mode: forwards; 
            animation-timing-function: linear;      
        }
        &__details[inactive]  {
            animation-name: slideRightOut;
            animation-duration: 0.3s;
            animation-fill-mode: forwards;
            animation-timing-function: linear;      
        }
        &__header {
            color: white;
            padding: 0 2em 3em 2em;
            width: 90%; 
            @include for-desktop { 
                padding: 0 5em 3em 5em; 
                width: 100%; 
                max-width: $responsive-max-width;
            }
            p{
                font-family: $pfont;
                border-radius: $border-radius;
                font-size: 1rem;
                line-height: 1.3rem;
                margin: 1rem;
                padding: 1rem 0;
                @include for-desktop{
                    font-size: 1.3rem;
                    line-height: 1.5rem;
                }
            }
            img {
                width: 50%;
                float: left;
                margin: 1rem;
                border-radius: $border-radius;
            }
        }    
        &__images { 
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            gap: 2vmin;
            list-style-type: none;
            li { 
                height: 250px;
                flex-grow: 1;
            }
            img {
                width: 100px;
                height: 100px;
                border-radius: $border-radius;
                border: solid 1px white;
                object-fit: cover;
            }
            ::after {
                content: "";
                display: block;
                flex-grow: 10;
            }
        }    
    }
}
