.allnews {
  scroll-margin: $menu-height;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/home-knife.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  h1{
    font-family: $title;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2rem 0;
    width: 100%;
    @include for-desktop{
        font-size: 3rem;
    }
  }
  h2{
      font-family: $heroh2;
      font-size: 1.5rem;
      font-weight: 600;
      padding-bottom: 2rem ;
      line-height: 1.5rem;
      display: inline-block;
      width: 100%;
      @include for-desktop{
          font-size: 2rem;
      }
  }
  p{
    padding: 1em;
    font-size: 1rem;
    line-height: 1.4rem;
    text-align: right;
    width: 100%;
    @include for-desktop{
        font-size: 1.5rem;
        line-height: 2rem;
    }
  }
  .news {
    width: 80%;
    margin-bottom: 2.5rem;
    @include for-desktop {
      max-width: $responsive-max-width;
    }
    p {
      text-align: left;
      font-family: $herop;
    }
    img {
      margin: 20px;
      width: 300px;
      height: 300px;
      border: solid darkgrey 3px; 
      border-radius: 10px;
    } 
    &:nth-child(even) {
      h1, h2 {
        text-align: left;
      }
      img {
        float: left;
      }
    }
    &:nth-child(odd) {
      h1, h2 {
        text-align: right;
      }
      img {
        float: right;
      } 
    }
  }
}
