@import './const';
@import '../utils/mixins';


.slider {
  display: flex; 
  position: absolute;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px); 
  width: 100vw;
  height: 100dvh;
  color: white;
  border: red 2px solid;
  &__box {
    display: grid; 
    gap: .5rem;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 70% 10%;
    grid-template-areas: 
      '. img .'
      'left indic right';
    @include for-desktop {
    grid-template-areas: 
      'left img right'
      '. indic .';
    }
    width: 80vw;
    height: 90dvh;
    max-width: 1024px;
    align-items: center;
    justify-content: center;  
    &__action {
      cursor: pointer;
      img {
        width: 50px;
      }
      @include for-desktop {
        img {
          width: 60px;
        }
      }
    }

    &__slides {
      display: contents;
      margin: 1rem 0; 
      position: absolute;
      inset: 0;
      border: green 2px solid; 
      &__img {
        display: flex;
        opacity: 0;
        transition: 1s opacity ease-in-out;
        &.active {
            opacity: 1;
        }
      }
    }
    &__indicators {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2rem;
      grid-area: indic;
      &__flags {
        opacity: .6;
        width: 30px;
        height: 10px;
        border-radius: $border-radius;
        @include for-desktop {
            height: 10px;
        }
        margin-left: 3px;
        margin-right: 3px;
        cursor: pointer;
        &.active {
            opacity: 1;
            background-color: white;
        }
      }
    }
  } 
}
.prev {
  grid-area: left;
  justify-self: right;
}
.next {
  grid-area: right;
  justify-self: left;
}
.img {
  grid-area: img;
  // width: 100%;
  // object-fit: cover;
  border-radius: 10px;          
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.zoomon {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100dvh;
  width: 100%; 
  justify-content: center;
  align-items: center;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-name: fadein;
  overflow: hidden;
  background-color: $background;
  .svg-white {
    width: 60px;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: $border-radius;
  }
  &__image {
    justify-content: center;
    align-items: center;
    max-width: $responsive-max-width;
    width: 90%;
  }
  h2 {
      size: 1rem;
      position: absolute;
      padding: .8rem;
      color: white;
      background-color: darkgrey;
      top: 5%;
      left: 5%;
      opacity: 0.5;
  }
}
.zoomoff {
  display: none;
}
