@import './const';
@import '../utils/mixins';


.slider {
  display: flex; 
  position: absolute;  
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px); 
  width: 100vw;
  height: 100dvh;
  color: white;
  h2 {
    font-family: $h2font;
  }
  &__box {
    display: grid; 
    gap: .5rem;
    grid-template-columns: 1fr fit-content(80%) 1fr;
    grid-template-rows: 10% 70% 8% 5%;
    grid-template-areas: 
      '. kdesc .'
      '. img .'
      '. close .'
      'left indic right';
    @include for-desktop {
      grid-template-areas: 
        '. kdesc .'
        'left img right'
        '. close .'
        '. indic .';
    }
    width: 80vw;
    height: 90dvh;
    max-width: 1024px;
    align-items: center;
    justify-content: center;  
    &__action {
      cursor: pointer;
      img {
        width: 35px;
      }
      @include for-desktop {
        img {
          width: 50px;
        }
      }
    }

    &__slides {
      display: contents;
      margin: 1rem 0; 
      position: absolute;
      inset: 0;
      &__img {
        display: flex;
        opacity: 0;
        transition: 1s opacity ease-in-out;
        &.active {
            opacity: 1;
        }
      }
    }
    &__indicators {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2rem;
      grid-area: indic;
      &__flags {
        opacity: .6;
        width: 30px;
        height: 10px;
        border-radius: $border-radius;
        @include for-desktop {
            height: 10px;
        }
        margin-left: 3px;
        margin-right: 3px;
        cursor: pointer;
        &.active {
            opacity: 1;
            background-color: darkolivegreen;
        }
      }
    }
  } 
}
.prev {
  grid-area: left;
  justify-self: right;
}
.next {
  grid-area: right;
  justify-self: left;
}
.img {
  grid-area: img;
  border-radius: 10px;          
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}
.kdesc {
  grid-area: kdesc;
  justify-self: center;
}
.close {
  grid-area: close;
  justify-self: center;
}
.zoomer {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center; 
  align-items: center;
  height: 100dvh;
  width: 100vw; 
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-name: fadein;
  overflow: hidden;
  background-color: $background;
  &__image {
    display: grid;
    gap: .5rem;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas: 
      'kname'
      'img'
      'close';
    width: 80vw;
    height: 90dvh;
    max-width: 1024px;
    align-items: center;
    justify-content: center;  
    h2 {
      font-size: $h2font;
      color: white;
    }
  }
  .svg-white {
    width: 60px;
    cursor: pointer;
    justify-self: center;
    grid-area: close;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: $border-radius;
    grid-area: img;
  }
  .kname {
    grid-area: kname;
    justify-self: center;
  }
}
