@import './const';

.sliderframe {
  margin: 0 auto;
  padding: 1em;
  max-width: $maxslideimagewidth;
}

.sliderarea {
  margin: 2em auto;
  .sliderimage { 
    width: 100%;
    height: auto;
    margin-bottom: 2em;
  }
}

.slidertext {
  max-width: 70%;
  margin: 0 auto;
  padding: 1em;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: italic;
}

#fullscreen {
  background-color: white;
}


.zoomon {
  display: flex;
  position: absolute;
  height: 100%; 
  width: 100%;
  justify-content: center;
  align-items: center;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-name: fadein;
  overflow: hidden;
  background-color: $background;
  img {
    max-width: 100%;
    max-height: 100%;
    height: auto; 
    width: auto;     
    object-fit: contain;
    object-position: center;
    border-radius: 20px;
  }
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: $responsive-max-width;
    width: 95svw;
  }
  h2 {
      size: 1rem;
      position: absolute;
      padding: .8rem;
      color: white;
      background-color: darkgrey;
      top: 5%;
      left: 5%;
      opacity: 0.5;
  }
}
.zoomoff {
  display: none;
}
@keyframes fadein {
  0%   { opacity: 0;}
  100% { opacity: 1;}
}