@import './const';
@import '../utils/mixins';


.slider {
  display: flex; 
  flex-direction: column;
  row-gap: .7rem;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px); 
  width: 100vw;
  height: 100dvh;
  z-index: 1000;
  color: white; 
  &__head {
    transform: translateY(10vh);
    margin: 0 2rem;
    @include for-desktop {
      transform: translateY(15vh);
    }
    h2 {
      font-family: $h2font;
    }
  }
  &__pictures {
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__img {
      display: none;
      object-fit: contain;
      max-width: 1024px;
      max-height: 100%;
      aspect-ratio: auto 1/1;
      &.active {
        display: flex;
        justify-content: center;
      }    
      img {
        width: 100%;
        // animation: 1s fadein;
        border-radius: $border-radius;
      }
    }
  }
  &__command {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-10vh);
    background-color: $menubackground;
    border-radius: 10px;
    padding: 0.1rem .5rem;
    img {
      width: 80px;
      cursor: pointer;
      padding: 0 1rem 0 1rem;
    }
    @include for-desktop {
      transform: translateY(-15vh);
    }
  }
  .slidercounter {
    font-size: .8rem;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
