.legal {
    display: flex;  
    flex-direction: column;
    background-image: url(../images/BastosBG5.webp);
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat; 
    color: white; 
    justify-content: center; 
    height: 100dvh;
}
