.legal {
    display: flex;  
    flex-direction: column;
    background-image: url(../images/BastosBG5.webp);
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat; 
    color: lightblue; 
    height: 100dvh;
    font-family: $pfont;
    a {
        color: white;
    }
    h1, h2 {
        margin: 1rem;
    }
    li {
        margin-top: .4rem;
        padding-left: 6rem;
    }
    b {
        text-decoration: underline;
    }
    &__company {
        margin: auto;
        background-color: rgba(51, 51, 51, 0.6);
        width: 90%;
        @include for-desktop {
            width: 70%
        }
        padding: 2rem; 
        p { 
            margin-top: 1rem;
            line-height: 1.3rem;
        }
        &__list {
            margin: 2rem 0 2rem 0;
        }
    }
} 
