<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="../../public/css/login.css">
</head>
<body>
    <div class="full-screen-container">
        <div class="login-container">
            <h1 class="login-title">Bienvenue</h1>
            <form action="" class="form">
                <div class="input-group success">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                    <span class="message">Email valide</span>
                </div>
                <div class="input-group error">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="password">
                    <span class="message">Mot de passe incorrect</span>
                </div>
                <button type="submit" class="login-button">Se Connecter</button>
            </form>
            <div class="navigation">
                <a href="./index.html">Accueil</a>
                <a href="{{path('users.register')}}">S'inscrire</a>
            </div>
        </div>
    </div>
</body>
</html>