<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="../../public/css/register.css">
</head>
<body>
    <div class="full-screen-container">
        <div class="login-container">
            <h1 class="login-title">Bienvenue</h1>
            <form action="{{path('users.register')}}" method="post" class="form">
                <div class="input-group">
                    <label for="firstname">Prénom</label>
                    <input type="text" name="firstname" id="firstname">
                    <span class="message"></span>
                </div>
                <div class="input-group">
                    <label for="lastname">Nom</label>
                    <input type="text" name="lastname" id="lastname">
                    <span class="message"></span>
                </div>
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                    <span class="message"></span>
                </div>
                <div class="input-group">
                    <label for="address">Adresse</label>
                    <input type="text" name="address" id="adress">
                    <span class="message"></span>
                </div>
                <div class="input-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="password">
                    <span class="message"></span>
                </div>
                <div class="input-group">
                    <label for="confirm-password">Confirmer le mot de passe</label>
                    <input type="password" name="confirm-password" id="confirm-password">
                    <span class="message"></span>
                </div>
                <button type="submit" class="login-button">S'inscrire</button>
            </form>
            <div class="navigation">
                <a href="./index.html">Accueil</a>
                <a href="{{path('users.login')}}">Se connecter</a>
            </div>
        </div>
    </div>
</body>
</html>